.admin-pic {
	max-width: 100%;
}

.order-item {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ececec;
}

.product-id {
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-size: large;
}

.product-id:hover {
	text-decoration: none;
	color: #000;
}

.quantity-input  {
	text-align: center;
}

.button-wrapper {
	margin-top:5px;
}

.order-location-header {
	list-style: none;
	padding-left: 15px;
}

.order-location-header  li span {
	font-weight: bold;
}

.option-info {
	margin-bottom: 10px;
}
