.home-hero a.logo {
  position: fixed;
  z-index: 11;
  -webkit-transition: 0.3s all ease-out;
  -o-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}
.home-hero .container {
  min-height: 395px;
  position: relative;
}
.home-hero .hero-cta {
  left: 100px;
}
.hero-nav {
  width: 300px;
  -webkit-transition: 0.3s all ease-out;
  -o-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}
.hero-nav .hero-nav-inner {
  position: fixed;
  z-index: 11;
}
.home-hero.sticky a.logo {
  margin-left: 10px;
  width: 80px;
  height: 80px;
  margin-top: 11px;
}
.home-hero.sticky .hero-nav {
  margin-top: 30px;
}
.not-front .sticky-show {
  position: relative;
}
.login-order {
  font-family: "Amatic SC";
  text-transform: uppercase;
  font-size: 25px;
}
.login-order a {
  color: white;
}
