.home-hero a.logo {
  position: fixed;
  z-index: 11;
  
  -webkit-transition: 0.3s all ease-out;
  -o-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}

.front .navbar .sticky-show {
  // display: none !important;
}



.home-hero .container {
  min-height: 395px;
  position: relative;
}

.home-hero .hero-cta {
  left: 100px;
}

.hero-nav {
  width: 300px;
  -webkit-transition: 0.3s all ease-out;
  -o-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
  
  .hero-nav-inner {
    position: fixed;
    z-index: 11;
  }
}

.home-hero.sticky {
  a.logo {
    margin-left: 10px;
    width: 80px;
    height: 80px;
    margin-top: 11px;
  }

  .hero-nav {
    margin-top: 30px;
  }
}

.not-front {
  .sticky-show {
    position: relative;
  }
  
}

.login-order {
  // position: absolute;
  // right: 0;
  // top: 0;
  //float: left;

  font-family: "Amatic SC";
  text-transform: uppercase;
  font-size: 25px;

  a {
    color: white;
  }
}

