.sub-heading-font {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 32px;
}
@font-face {
  font-family: 'icons';
  src: url('../../fonts/icons.eot?-os2c1y');
  src: url('../../fonts/icons.eot?#iefix-os2c1y') format('embedded-opentype'), url('../../fonts/icons.woff?-os2c1y') format('woff'), url('../../fonts/icons.ttf?-os2c1y') format('truetype'), url('../../fonts/icons.svg?-os2c1y#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-phone:before {
  content: "\e958";
}
.icon-facebook:before {
  content: "\ea8c";
}
.icon-email:before {
  content: "\e600";
}
.set-default {
  float: left;
  width: 100%;
}
.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
lesshat-selector {
  -lh-property: 0; }
::selection{color: white; background: #202020}
::-moz-selection{color: white; background: #202020;
}
body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  color: #202020;
  background: white;
}
body.colored {
  background: #ededed;
}
body.colored .line {
  padding: 0;
}
body.colored .statement.grey {
  margin-bottom: 0;
}
body.colored .statement.red {
  margin-top: 0;
}
body.colored .team {
  margin-bottom: 0;
}
body.colored .main-wrap {
  background: #ededed;
}
body.white-slider .navbar.navbar-inverse .social-nav > li > a {
  color: #202020;
}
body.white-slider .revolution-wrap .rev-caption .big-inner h2 {
  color: #202020;
}
body.white-slider .revolution-wrap .rev-caption .big-inner p {
  color: #202020;
}
body.white-slider .navbar .header-slider .tp-rightarrow.default:after {
  color: #202020;
}
body.white-slider .navbar .header-slider .tp-leftarrow.default:after {
  color: #202020;
}
a {
  color: #1b7d58;
  text-decoration: none !important;
  outline: none !important;
}
a:hover {
  color: #1b7d58;
  text-decoration: underline !important;
}
button,
input[type=submit] {
  border: none;
  outline: none !important;
}
.light {
  font-weight: 300;
}
h1 {
  font-family: "Amatic SC";
  font-size: 32px;
  font-weight: 400;
  line-height: 140%;
}
h1.big {
  font-family: "Amatic SC";
  font-size: 42px;
  font-weight: 400;
  line-height: 140%;
}
h2 {
  font-family: "Amatic SC";
  font-size: 26px;
  font-weight: 400;
  line-height: 140%;
}
h3 {
  font-family: "Amatic SC";
  font-size: 22px;
  font-weight: 400;
  line-height: 140%;
}
h4 {
  font-family: "Amatic SC";
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}
h5 {
  font-family: "Amatic SC";
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
h6 {
  font-family: "Amatic SC";
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
.separator {
  width: 100%;
  margin: 10px 0;
  display: inline-block;
}
figure {
  float: left;
  width: 100%;
}
figure a {
  float: left;
  width: 100%;
}
figure img {
  width: 100%;
  height: auto;
}
table {
  width: 100%;
  border: none;
}
table tbody,
table tr,
table td,
table th {
  border: none;
}
form {
  *zoom: 1;
  margin-top: 40px;
}
form:before,
form:after {
  content: " ";
  display: table;
}
form:after {
  clear: both;
}
.flex-direction-nav {
  display: none;
}
.home-hero {
  min-height: 395px;
  background-size: cover;
  position: relative;
}
.home-hero a.logo {
  float: left;
  margin-top: 20px;
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 768px) {
  .home-hero a.logo {
    display: none;
  }
}
.home-hero .hero-nav {
  float: right;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .home-hero .hero-nav {
    display: none;
  }
}
.home-hero .hero-cta {
  position: absolute;
  bottom: 40px;
}
@media screen and (max-width: 768px) {
  .home-hero .hero-cta {
    left: 0 !important;
    width: 100%;
  }
  .home-hero .hero-cta img {
    width: 100%;
  }
}
a.logo {
  display: block;
  background: no-repeat url(../../img/country-lane-farms-logo.png);
  background-size: 100%;
}
.home-bottom-cta {
  text-align: center;
  padding: 60px 0;
  background: no-repeat url(../../img/content/home-cta-bg.jpg);
  background-size: cover;
}
.quote {
  font-size: 32px;
  line-height: 1.4;
  padding: 20px;
}
.button {
  font-size: 30px;
  font-family: "Amatic SC";
  display: inline-block;
  background: #1b7d58;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 11px 18px;
  text-transform: uppercase;
}
.button.regular {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
}
.button:visited,
.button:active {
  color: #fff;
}
.button:hover {
  color: #fff;
  opacity: 0.8;
  text-decoration: none !important;
}
.panel {
  border: none !important;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.panel:last-child .panel-body {
  border-bottom: none !important;
}
.panel-group .panel + .panel {
  margin-top: 0;
}
.panel-default .panel-heading {
  padding: 20px 0;
  border-bottom: 1px solid #c5c5c5;
  background-color: transparent !important;
}
.panel-default .panel-heading h4 {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: "Open Sans", Arial, sans-serif;
}
@media screen and (max-width: 768px) {
  .panel-default .panel-heading h4 {
    font-size: 14px;
  }
}
.panel-default .panel-heading a:before {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 25px;
  height: 25px;
  color: #fff;
  margin: -2px 8px 0 0;
  padding: 2px 0 0 4px;
  vertical-align: middle;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #1a7d58;
  font-size: 53px;
  font-weight: 400;
  line-height: 10px;
  content: "-";
}
.panel-default .panel-heading a.collapsed:before {
  font-size: 30px;
  font-weight: bold;
  line-height: 20px;
  content: "+";
}
.panel-default .panel-body {
  padding: 20px 38px;
  border-top: none !important;
  border-bottom: 1px solid #c5c5c5;
}
.red-message {
  max-width: 600px;
  margin: 40px auto;
  padding: 3% 15%;
  line-height: 1.4em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: #ff0000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(255, 12, 20, 0.4);
}
.red-message.full-width {
  width: 100%;
  max-width: 100%;
}
.red-text {
  color: #ff0000;
}
.arrow-btn {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin: 6px 0;
  padding-right: 40px;
  color: #fff;
  line-height: 27px;
  font-family: "Amatic SC";
  font-size: 1.5em;
  text-transform: uppercase;
  background: url('../../img/arrow-in-o.png') no-repeat;
  background-position: right top;
}
.arrow-btn:hover {
  color: #1b7d58;
  background-position: right bottom;
}
.row {
  margin: 0;
}
.nopadding {
  padding: 0;
}
.uppercased {
  text-transform: uppercase;
}
.centered {
  text-align: center;
}
.bigger-text {
  font-size: 1.2em;
}
.content img {
  max-width: 100%;
}
.caret {
  border-top: 8px solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
#user-menu {
  margin-top: 26px;
}
#user-menu a {
  color: #fff;
}
#user-menu a:hover {
  background-color: transparent;
}
#user-menu .dropdown-toggle {
  max-width: 260px;
  width: auto;
  font-size: 1em;
}
#user-menu .dropdown-menu {
  width: 100%;
  padding-bottom: 10px;
  border: none;
  border-radius: 0;
  font-size: 1em;
  background: url(../../img/header-bg.gif) !important;
}
#user-menu .dropdown-menu li {
  margin-bottom: 8px;
  padding-left: 14px;
  font-size: 1em;
}
#user-menu .dropdown-menu li a {
  display: inline;
  padding: 0;
  color: #fff;
  font-size: 1em;
  line-height: 1em;
}
#user-menu .caret {
  margin-left: 8px;
}
.views-field-field-headline {
  position: absolute;
  top: 60%;
  left: 20%;
  color: #fff;
  font-size: 60px;
  font-family: "Amatic SC";
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 4px #000000;
}
@media screen and (max-width: 768px) {
  .views-field-field-headline {
    top: 26%;
    left: 15%;
    line-height: 1em;
  }
}
.views-field-field-sub-headline {
  position: absolute;
  top: 73%;
  left: 20%;
  font-size: 37px;
  font-family: "Amatic SC";
  text-transform: uppercase;
  text-shadow: 1px 1px 4px #000000;
}
.views-field-field-sub-headline a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  padding-right: 40px;
  line-height: 27px;
  color: #fff;
  background: url('../../img/arrow-in-o.png') no-repeat;
  background-position: right top;
}
@media screen and (max-width: 768px) {
  .views-field-field-sub-headline {
    left: 15%;
  }
}
.nav {
  font-family: "Amatic SC";
  text-transform: uppercase;
  font-size: 1em;
}
.nav a {
  color: white;
  margin: 0;
}
.nav a.active {
  color: white;
  opacity: 0.8;
}
.subnav {
  display: none;
  position: absolute;
  padding-top: 42px;
  top: 58px;
  left: -1px;
  right: -1px;
  font-family: "Open Sans", Arial, sans-serif;
  z-index: 5;
  -webkit-box-shadow: 0px 40px 52px -7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 40px 52px -7px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 40px 52px -7px rgba(0, 0, 0, 0.5);
  background: url(../../img/header-bg.gif);
  color: #fff;
}
.subnav .pic {
  margin-top: 20px;
  padding-right: 10%;
  height: 100%;
  overflow: hidden;
}
.subnav .pic img {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
}
.subnav .inner {
  *zoom: 1;
  width: 100%;
  padding: 10px 0 30px;
  border-top: 2px solid #d4d4d4;
  background-color: transparent;
}
.subnav .inner:before,
.subnav .inner:after {
  content: " ";
  display: table;
}
.subnav .inner:after {
  clear: both;
}
.subnav h2 {
  font-family: "Amatic SC";
}
.subnav ul {
  padding: 0;
}
.subnav li {
  display: block !important;
  *zoom: 1;
  margin: 0 0 8px !important;
}
.subnav li:before,
.subnav li:after {
  content: " ";
  display: table;
}
.subnav li:after {
  clear: both;
}
.subnav a {
  margin: 0 !important;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff !important;
}
.page-banner img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .page-banner {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .page-type-pcatlisting > .main-wrap > .content {
    padding: 0 !important;
  }
}
.front .content {
  background: url(../../img/wood-texture.jpg) top;
}
.front .home-product {
  position: relative;
  display: block;
}
.front .home-product img {
  width: 100%;
}
.front .home-product .description {
  opacity: 0.8;
  width: 50%;
  text-align: center;
  position: absolute;
  top: 15%;
  width: auto;
  max-width: 100%;
  z-index: 1;
}
.front .home-product .description.left {
  left: 8%;
}
.front .home-product .description.right {
  left: 58%;
}
@media screen and (max-width: 768px) {
  .front .home-product .description {
    opacity: 1;
  }
  .front .home-product .description.left {
    right: 49%;
    left: 2%;
  }
}
.front .home-product.salmon .description {
  top: auto;
  bottom: 30%;
}
@media screen and (max-width: 768px) {
  .front .home-product.beef-ribs .description {
    margin-top: -20px;
  }
}
.front .home-product.lobster-scallops .description {
  top: auto;
  bottom: 13%;
}
.front .home-product:hover .description {
  opacity: 1;
}
.not-front {
  color: #43484d;
  font-size: 15px;
  line-height: 140%;
}
@media screen and (max-width: 768px) {
  .not-front {
    font-size: 14px;
  }
  .not-front .main-wrap {
    margin-top: 40px !important;
  }
}
.not-front .navbar {
  position: fixed;
}
.not-front .header-spacer {
  height: 103px;
}
@media screen and (max-width: 768px) {
  .not-front .header-spacer {
    height: 10px;
  }
}
.not-front > .main-wrap > .content {
  *zoom: 1;
  padding: 50px 0 0;
}
.not-front > .main-wrap > .content:before,
.not-front > .main-wrap > .content:after {
  content: " ";
  display: table;
}
.not-front > .main-wrap > .content:after {
  clear: both;
}
.not-front > .main-wrap > .content .button {
  margin: 20px 0;
}
@media screen and (max-width: 768px) {
  .not-front > .main-wrap > .content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .not-front > .main-wrap > .content p {
    text-align: center;
  }
}
.not-front h1 {
  margin: 0 0 0.6em;
  line-height: 56px !important;
  font-size: 56px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .not-front h1 {
    font-size: 3em;
    text-align: center;
  }
}
.not-front p {
  margin: 0 0 1em;
}
.not-front .pic-block {
  padding-bottom: 50px;
  text-align: center;
}
.not-front .pic-block img {
  max-width: 90%;
}
.not-front .text-block {
  margin-bottom: 40px;
}
.not-front .top-block {
  margin-top: -50px;
  padding: 50px 0 0;
  background-color: rgba(255, 255, 255, 0.8);
}
.not-front .section {
  margin-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .not-front .section {
    margin-bottom: 40px;
  }
}
.products-list .products-list-item {
  *zoom: 1;
  margin: 40px 0 30px;
  height: 280px;
}
.products-list .products-list-item:before,
.products-list .products-list-item:after {
  content: " ";
  display: table;
}
.products-list .products-list-item:after {
  clear: both;
}
@media screen and (max-width: 768px) {
  .products-list .products-list-item {
    height: auto;
    margin-bottom: 80px;
  }
}
.products-list h2 {
  margin: 0 0 0.3em;
  text-transform: uppercase;
  font-size: 30px;
}
.products-list .pic-block img {
  max-width: 90%;
}
@media screen and (max-width: 768px) {
  .products-list .pic-block {
    padding-bottom: 30px;
  }
}
.products-list .text {
  color: #fff;
}
.del-btns {
  display: none;
}
@media screen and (max-width: 768px) {
  .del-btns {
    display: block;
  }
  .del-btns .button {
    position: relative;
    margin: 0;
  }
  .del-btns .del-prev {
    padding: 11px 12px 11px 24px;
  }
  .del-btns .del-prev:before {
    position: absolute;
    left: 8px;
    content: "\3c";
  }
  .del-btns .del-next {
    padding: 11px 24px 11px 12px;
  }
  .del-btns .del-next:before {
    position: absolute;
    right: 8px;
    content: "\3e";
  }
}
.option-info h2 {
  font-size: 44px;
}
.option-info .left-col {
  padding: 0;
}
.option-info .left-col > div {
  margin-bottom: 25px;
}
.option-info .left-col p {
  margin: 0;
}
.option-info .right-col {
  padding: 0;
  text-align: right;
}
.option-info .right-col img {
  max-width: 100%;
  padding: 5px;
  border: 1px solid #e4e4e4;
}
@media screen and (max-width: 768px) {
  .option-info .right-col {
    margin-top: 30px;
    text-align: center;
  }
}
.options-box h2 {
  font-size: 44px;
}
.options-table th {
  padding: 20px 0;
  font-size: 1.2em;
  text-align: left;
}
.options-table th:first-child {
  text-align: left;
}
@media screen and (max-width: 768px) {
  .options-table th {
    padding: 20px 0 5px;
    font-size: 1em;
    text-align: left;
  }
  .options-table th:first-child {
    width: 52%;
  }
}
.options-table td {
  padding: 3px 0;
  font-size: 14px;
  text-align: left;
}
.options-table td:first-child {
  font-size: 15px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .options-table td {
    position: relative;
    padding-bottom: 5px;
    font-size: 12px;
    text-align: left;
  }
  .options-table td:first-child {
    padding: 10px 36px 10px 0;
    z-index: 3;
    font-size: 12px;
    line-height: 1.3em;
  }
}
.options-table .option-item {
  position: relative;
  color: inherit;
}
.options-table .option-item.selected,
.options-table .option-item:hover {
  padding: 2px 8px;
  color: #fff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-decoration: none !important;
}
.options-table .option-item.selected.green,
.options-table .option-item:hover.green {
  background-color: #1a7d58;
}
.options-table .option-item.selected.orange,
.options-table .option-item:hover.orange {
  background-color: #ffb03b;
}
.options-table .option-item.selected.blue,
.options-table .option-item:hover.blue {
  background-color: #19b0cc;
}
.options-table .option-item.selected:before,
.options-table .option-item:hover:before {
  display: none;
}
@media screen and (max-width: 768px) {
  .options-table .option-item {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding-left: 125% !important;
    padding-right: 0 !important;
    width: 232%;
    left: -125%;
    height: 100%;
    z-index: 5;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  .options-table .option-item.selected {
    padding: 0;
    z-index: 1;
  }
  .options-table .option-item:before {
    margin-top: 12px!important;
  }
  .options-table .option-item span {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
    padding: 10px 10px 10px 0;
  }
}
.options-table .mark {
  padding: 0 1px;
  line-height: 1.3em;
  vertical-align: middle;
}
.options-table .mark:before {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 10px;
  height: 10px;
  margin: -2px 4px 0 0;
  vertical-align: middle;
  content: "";
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
@media screen and (max-width: 768px) {
  .options-table .mark:before {
    margin-left: -18px;
    margin-right: 8px;
  }
}
.options-table .mark.green:before {
  background-color: #1a7d58;
}
.options-table .mark.orange:before {
  background-color: #ffb03b;
}
.options-table .mark.blue:before {
  background-color: #19b0cc;
}
@media screen and (max-width: 768px) {
  .options-table .del-2,
  .options-table .del-3,
  .options-table .del-4 {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .options-table .del-4 {
    display: none;
  }
}
@media screen and (max-width: 980px) {
  .options-table .del-3 {
    display: none;
  }
}
.map .left-col {
  padding-left: 0;
}
.map .left-col img {
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .map .left-col {
    margin-bottom: 25px;
    padding: 0;
  }
}
.map .right-col {
  font-size: 1.1em;
}
.map .right-col div {
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .map .right-col {
    padding: 0;
  }
}
.legend-mark {
  margin-left: 20px;
  line-height: 1em;
  vertical-align: middle;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  text-transform: none;
}
.legend-mark:before {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 30px;
  height: 20px;
  margin: -2px 8px 0 0;
  vertical-align: middle;
  content: "";
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.legend-mark.green:before {
  background-color: #1a7d58;
}
.legend-mark.orange:before {
  background-color: #ffb03b;
}
.legend-mark.blue:before {
  background-color: #19b0cc;
}
@media screen and (max-width: 768px) {
  .legend-mark {
    display: block;
    margin: 0 0 12px 0;
    text-align: left;
  }
  .legend-mark:before {
    height: 16px;
  }
  .legend-mark:first-child {
    margin-top: 25px;
  }
}
.steps .row {
  padding: 15px 0;
}
@media screen and (max-width: 768px) {
  .steps .row {
    padding-top: 0;
  }
}
.step-title {
  padding-left: 20px;
  font-family: "Amatic SC";
  text-transform: uppercase;
  font-size: 50px;
  line-height: 50px;
}
@media screen and (max-width: 768px) {
  .step-title {
    font-size: 2.5em;
    text-align: center;
  }
}
.order-products-list h2 {
  margin: 0 0 0.5em;
  font-size: 2.2em;
  text-transform: uppercase;
}
.order-products-list img {
  max-width: 100%;
}
.order-products-list p {
  margin-bottom: 0.4em;
  line-height: 1.3em;
}
.order-products-list .row {
  margin: 30px 0;
}
.order-products-list .pic {
  padding-left: 0;
}
.order-products-list .price {
  text-transform: uppercase;
  font-size: 13px;
}
.order-products-list .quantity input {
  width: 80px;
  padding: 10px 5px;
  font-size: 1.5em;
  text-align: center;
  border: 2px solid #c5c5c5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.order-products-list .total .red-text {
  font-size: 1.6em;
}
@media screen and (max-width: 768px) {
  .order-products-list {
    margin-bottom: 0 !important;
  }
  .order-products-list > h1 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
  }
  .order-products-list .row {
    margin: 60px 0;
  }
  .order-products-list .pic {
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
  }
  .order-products-list .product-title h2 {
    text-align: center;
  }
  .order-products-list .price {
    margin-bottom: 20px;
  }
  .order-products-list .total > span {
    font-size: 1.7em;
  }
}
@media screen and (max-width: 768px) {
  .order-confirm p {
    text-align: left !important;
    font-size: 1.1em;
  }
  .order-confirm h2 {
    font-size: 2.4em;
  }
  .order-confirm .product-title h2 {
    text-align: center;
  }
  .order-confirm .quantity > span,
  .order-confirm .total > span {
    font-size: 1.7em;
  }
  .order-confirm .submit-buttons-right {
    margin-top: 20px;
    text-align: center;
  }
}
.register-form .right-col .row:first-child {
  margin-bottom: 40px;
}
.register-form .right-col .col-sm-4 {
  padding-left: 0;
}
.register-form .form-group {
  width: 70%;
}
.register-form .map {
  overflow: hidden;
}
.register-form .map img {
  max-width: 180%;
  margin: -5% 0 0 -40%;
}
@media screen and (max-width: 768px) {
  .register-form .right-col .inner {
    position: absolute;
    width: 100%;
  }
  .register-form .right-col .map {
    position: absolute;
    bottom: 0;
  }
  .register-form .right-col .fields {
    padding-bottom: 20px;
  }
  .register-form .right-col .pickup-mobile label {
    text-align: center;
  }
  .register-form .right-col .pickup-mobile .form-control {
    width: 70%;
    margin: 12px auto 20px;
  }
  .register-form .right-col span.note {
    font-size: 11px;
  }
  .register-form .submit-buttons {
    text-align: center;
  }
}
.submit-buttons .login-link {
  position: relative;
  top: -7px;
  left: 10px;
}
.login-form .form-group {
  width: 70%;
}
.contact-form .row {
  margin: 0 -15px;
}
.contact-form .button {
  margin-top: 0 !important;
}
.contact-form textarea {
  min-height: 160px;
}
.form .left-col {
  padding-left: 0;
}
.form label {
  display: block;
  font-weight: normal;
}
.form input[type=text],
.form input[type=email],
.form input[type=password],
.form textarea {
  padding: 5px 7px;
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #c5c5c5;
}
@media screen and (max-width: 768px) {
  .form .left-col,
  .form .right-col {
    padding: 0;
  }
  .form .form-group {
    width: 100%;
  }
}
sup {
  top: 0;
  font-size: 1em !important;
}
.quote {
  font-size: 26px;
  text-align: center;
  font-weight: 600;
  padding: 0;
  margin-bottom: 100px;
}
.about-things > h1 {
  margin-bottom: 1em;
}
.about-things h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 32px;
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  .about-things h2 {
    text-align: center;
    line-height: 1.2em;
    font-size: 1.8em;
  }
}
.about-things .text {
  display: table;
  min-height: 250px;
}
.about-things .text .inner {
  display: table-cell;
  vertical-align: top;
}
@media screen and (max-width: 768px) {
  .about-things .text .inner {
    padding-top: 0 !important;
  }
}
.about-things .row {
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .about-things .thing-pic {
    display: none;
  }
}
.about-content-wrap {
  padding-top: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  *zoom: 1;
}
.about-content-wrap:before,
.about-content-wrap:after {
  content: " ";
  display: table;
}
.about-content-wrap:after {
  clear: both;
}
.circle {
  display: table;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  text-align: center;
  font-size: 36px;
  color: #fff;
  font-family: "Amatic SC";
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.circle .inner {
  display: table-cell;
  vertical-align: middle;
}
.circle p {
  margin-bottom: 0;
}
.circle p + p {
  margin-top: 18px;
}
.circle.black {
  background: url(../../img/header-bg.gif);
}
.thank-you {
  text-align: center;
}
.thank-you .map {
  margin: 40px 0;
}
.thank-you .map img {
  max-width: 60%;
  padding: 5px;
  border: 1px solid #e4e4e4;
}
.thank-you .location p {
  margin-bottom: 0;
}
.thank-you .total {
  margin: 50px 0 100px;
  font-weight: bold;
  font-size: 1.7em;
}
@media screen and (max-width: 768px) {
  .thank-you .map img {
    max-width: 100%;
    padding: 0;
    border: none;
  }
  .thank-you .location {
    margin: 20px 0;
  }
  .thank-you .location p {
    margin-bottom: 8px;
  }
  .thank-you .total {
    margin: 40px 0;
  }
  .thank-you .total span {
    display: block;
    margin-top: 20px;
    font-size: 32px;
  }
}
ul.menu {
  font-family: "Amatic SC";
  text-transform: uppercase;
  font-size: 1em;
  display: inline-block;
}
ul.menu a {
  color: white;
  margin: 0;
}
ul.menu a.active {
  color: white;
  opacity: 0.8;
}
ul.menu li {
  display: inline-block;
  margin: 0 30px 0 0;
}
ul.menu li:hover > .subnav {
  display: block;
}
@media screen and (max-width: 940px) {
  ul.menu li {
    margin-right: 20px;
  }
}
.the-icons {
  font-size: 25px;
  line-height: 50px;
  float: left;
  width: 50px;
  height: 50px;
  text-align: center;
}
.i-name {
  display: none;
}
.i-code {
  display: none;
}
.line {
  float: left;
  width: 100%;
  padding: 60px 0 50px;
}
.line.top {
  background: #fcfcfc;
  border-top: solid 1px #cfcfcf;
  border-bottom: solid 1px #cfcfcf;
  padding: 70px 0 20px;
}
.line.top .title {
  color: #b5b5b5;
}
.line.colored {
  background: #ededed;
}
.line.colored .clients {
  margin: 50px 0 0;
}
.line.grey {
  background: #ededed;
  margin-top: 40px;
}
.line.grey h1 {
  text-align: center;
  font-family: "Open Sans";
  font-size: 45px;
  font-weight: 700;
  line-height: 48px;
  color: #d2d2d2;
  margin-bottom: 100px;
  margin-top: 0;
}
.process {
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}
.process h3 {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  color: #202020;
  margin-top: 30px;
  margin-bottom: 20px;
}
.process .content {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  color: #a1a1a1;
}
.inner-container {
  float: left;
  width: 100%;
  background: white;
  padding: 60px 50px 20px;
}
.inner-container .action-call.red {
  padding: 60px 80px;
}
.inner-container .action-call.red h2 {
  font-size: 30px;
  line-height: 50px;
}
.title {
  float: left;
  font-family: "Open Sans";
  font-size: 45px;
  font-weight: 700;
  line-height: 48px;
  color: #dddddd;
  margin-bottom: 40px;
}
.title .current-page {
  margin: 15px 0 0;
  padding: 0;
  list-style: none;
  float: left;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  line-height: 32px;
  color: #b5b5b5;
  width: 100%;
}
.title .current-page li {
  float: left;
  margin-right: 8px;
}
.title-content {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  color: #aaaaaa;
  margin-bottom: 40px;
}
.title-content .contact-details {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: #202020;
}
.title-content.less-margin {
  margin-bottom: 0;
}
.title-content .input-group {
  margin-right: 40px;
  margin-top: 30px;
}
.title-content .input-group .form-control {
  background: #eaeaea;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #747474;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 50px;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
}
.title-content .input-group .form-control.focus {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.title-content .input-group .btn-default {
  background: #eaeaea;
  height: 50px;
  width: 50px;
  padding: 0;
}
.title-content .btn-primary {
  width: 120px;
  height: 50px;
  text-transform: uppercase;
  padding: 0;
  margin-top: 30px;
}
.title-content .btn-primary .oldal-icon {
  color: white;
}
.presentation {
  float: left;
  width: 100%;
  margin: 70px 0 30px;
}
.presentation figure {
  float: left;
  width: 100%;
}
.presentation figure img {
  width: 100%;
  height: auto;
}
.presentation h3 {
  float: left;
  width: 100%;
  margin: 60px 0 30px;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  color: #202020;
  text-transform: uppercase;
}
.presentation .content {
  float: left;
  width: 100%;
  margin-bottom: 30px;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  color: #a0a0a0;
}
.presentation .btn-default.btn-presentation {
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  background: #e5e5e5;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: #202020;
  text-transform: uppercase;
}
.contact-container {
  float: left;
  width: 100%;
  margin-top: -50px;
  margin-bottom: 100px;
}
.contact-container .form-control {
  padding: 15px;
  font-weight: 400;
  margin-bottom: 20px;
}
.map-container {
  float: left;
  width: 100%;
}
.section-title {
  float: left;
  width: 100%;
  padding: 30px 0;
}
.section-title h1 {
  float: left;
  width: 100%;
  text-align: center;
  font-family: "Open Sans";
  font-size: 23px;
  font-weight: 700;
  line-height: 34px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}
.section-title hr {
  margin: 0 auto;
  width: 110px;
  border-top: solid 2px #d3d3d3;
}
.products {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.product {
  float: left;
  width: 100%;
  text-align: center;
}
.product figure {
  float: left;
  width: 100%;
  position: relative;
}
.product figure img {
  width: 100%;
  height: auto;
}
.product figure:hover .overlay {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.product figure .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.product figure .overlay .overlay-info {
  text-align: center;
  border: solid 15px #efefef;
  width: 100%;
  height: 100%;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  display: table;
}
.product figure .overlay .overlay-info .inner {
  display: table-cell;
  vertical-align: middle;
}
.product figure .overlay .overlay-info .buy {
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #202020;
  float: left;
  width: 100%;
}
.product figure .overlay .overlay-info hr {
  width: 15px;
  border-top: solid 1px #bebebc;
  margin: 55px auto 20px;
}
.product figure .overlay .overlay-info .compare {
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #999999;
  float: left;
  width: 100%;
}
.product figure .overlay .background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #efefef;
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  z-index: 2;
}
.product .product-name {
  float: left;
  width: 100%;
  margin-top: 10px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  color: #202020;
  text-transform: uppercase;
}
.product .product-price {
  float: left;
  width: 100%;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  color: #202020;
  text-transform: uppercase;
}
.product .category {
  float: left;
  width: 100%;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
  color: #a8a8a8;
  text-transform: uppercase;
}
.product-list {
  float: left;
  width: 100%;
}
.product-list .no-items {
  float: left;
  width: 100%;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  color: #202020;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.product-list .sort {
  float: left;
  margin-bottom: 40px;
}
.product-list .sort .text {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  color: #202020;
  text-transform: uppercase;
  float: left;
}
.product-list .sort .btn-group {
  float: left;
}
.product-list .sort .btn-group .btn {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  line-height: 140%;
  color: #202020;
  text-transform: uppercase;
  background: transparent;
  padding: 0;
  margin-left: 5px;
}
.product-list .sort .btn-group .btn:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.product-list .sort .btn-group .btn:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.product-list .sort .btn-group .btn .oldal-icon {
  font-size: 14px;
  line-height: 14px;
  height: 14px;
  width: 20px;
}
.product-list .sort .btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.product-list .sort .btn-group .dropdown-menu {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
  border: solid 1px #202020;
}
.product-list .sort .btn-group .dropdown-menu a {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  line-height: 140%;
  color: #202020;
  text-transform: uppercase;
}
.product-list .pagination {
  float: right;
  margin: 0 0 40px;
}
.product-list .pagination a {
  border: none;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  color: #202020;
  padding: 6px 4px;
  text-transform: uppercase;
}
.product-list .pagination a .oldal-icon {
  width: 14px;
  height: 16px;
  font-size: 14px;
  line-height: 14px;
}
.product-list .pagination a .oldal-icon i {
  width: auto;
}
.product-list .pagination a:hover {
  background: transparent;
  color: #202020;
}
.product-list .pagination a.last {
  margin-left: 10px;
}
.product-list .pagination li.active a {
  font-weight: 700;
  background: transparent;
}
.categories {
  float: left;
  width: 100%;
}
.categories h3 {
  font-family: "Open Sans";
  font-size: 19px;
  font-weight: 400;
  line-height: 28px;
  color: #202020;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 40px;
  margin-top: 0;
}
.categories ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.categories li {
  float: left;
  width: 100%;
}
.categories a {
  font-family: "Open Sans";
  font-size: 19px;
  font-weight: 700;
  line-height: 35px;
  color: #202020;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.5px;
}
.pricing-box {
  float: left;
  width: 100%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
  text-align: center;
  border: none;
}
.pricing-box.suggested .panel-heading {
  background: #f8434a;
}
.pricing-box.suggested .price {
  color: #f8434a;
}
.pricing-box.suggested .panel-heading {
  color: white;
}
.pricing-box .panel-heading {
  background: #d7d7d7;
  border: none;
  font-family: "Open Sans";
  font-size: 28px;
  font-weight: 700;
  line-height: 140%;
  color: #9f9f9f;
  text-transform: uppercase;
  padding: 30px 0;
}
.pricing-box .panel-body {
  background: #f3f3f3;
  border: none;
  padding: 30px 0;
}
.pricing-box .price {
  display: inline-block;
  color: #202020;
}
.pricing-box .price sup {
  font-family: "Open Sans";
  font-size: 45px;
  font-weight: 700;
  line-height: 70px;
  float: left;
}
.pricing-box .price .value {
  font-family: "Open Sans";
  font-size: 90px;
  font-weight: 700;
  line-height: 140%;
  float: left;
}
.pricing-box .price .per {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 145px;
  float: left;
}
.pricing-box .features {
  margin: -20px 0 40px;
  padding: 0;
  list-style: none;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
  color: #666666;
}
.clients {
  float: left;
  width: 100%;
  display: inline-block;
  padding: 0;
  margin: 0 0 50px;
  list-style: none;
}
.clients li {
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 30px;
  vertical-align: middle;
}
.clients li figure {
  float: left;
  width: auto;
}
.clients li figure a {
  float: left;
  width: 100%;
}
.boxes {
  float: left;
  width: 100%;
  margin-bottom: 60px;
}
.box {
  float: left;
  width: 100%;
}
.box header {
  display: inline-block;
}
.box .title {
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  color: #202020;
  margin-bottom: 15px;
  margin-top: 10px;
}
.box .title.sm-title {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}
.box .content {
  float: left;
  width: 100%;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: #666666;
}
.box .content.padded {
  padding-left: 35px;
}
.box .content.lg-padded {
  padding-left: 90px;
  margin-top: -30px;
}
form .form-control {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  color: #a8a8a8;
  padding: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: solid 1px #cccccc;
}
form .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: solid 1px #cccccc;
}
form input.form-control {
  margin-bottom: 40px;
  height: 40px;
  float: left;
  width: 100%;
}
form textarea.form-control {
  float: left;
  width: 100%;
  height: 120px;
  resize: none;
}
form select {
  margin-bottom: 30px;
}
.share {
  float: left;
  width: 100%;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 700;
  line-height: 140%;
  color: black;
}
.share ul {
  margin: 0 0 -8px 20px;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.share li {
  float: left;
  margin-right: 15px;
}
.google-maps {
  float: left;
  width: 100%;
  position: relative;
  padding-bottom: 44.25%;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
}
.toggles {
  float: left;
  width: 100%;
}
.toggles .panel {
  border: none;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.toggles .panel-heading {
  position: relative;
  padding-left: 35px;
  background: white;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
  border: none;
  border-bottom: solid 1px #e5e5e5;
}
.toggles .panel-heading .panel-title {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #202020;
  text-transform: uppercase;
}
.toggles .panel-heading .panel-title a .entyp-plus-squared-1 {
  display: none;
}
.toggles .panel-heading .panel-title a .entyp-minus-squared-1 {
  display: block;
}
.toggles .panel-heading .panel-title a.collapsed .entyp-plus-squared-1 {
  display: block;
}
.toggles .panel-heading .panel-title a.collapsed .entyp-minus-squared-1 {
  display: none;
}
.toggles .panel-heading i {
  position: absolute;
  left: 0;
  margin-left: -8px;
  font-size: 23px;
}
.toggles .panel-heading + .panel-collapse .panel-body {
  border-top: none;
  border-bottom: solid 1px #e5e5e5;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: #666666;
  padding: 30px;
}
.btn {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  color: white;
  border: none;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  padding: 15px 35px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.btn:focus {
  outline: none;
  color: white;
}
.btn:hover {
  color: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.btn.btn-primary {
  background: #202020;
}
.btn.btn-default {
  background: #f8434a;
}
.btn.btn-control {
  background: white;
  border: solid 1px #c4c4c4;
  color: #737373;
  font-weight: 300;
}
.btn.btn-control:hover {
  background: #f8434a;
  color: white;
  border: solid 1px #f8434a;
}
.btn.btn-info {
  background: #24c1dd;
}
.btn.green {
  background: #30cab5;
}
.btn.lightblue {
  background: #7bc6e3;
}
.btn.orange {
  background: #e65c3c;
}
.btn.darkgrey {
  background: #737373;
}
.btn.grey {
  background: #5f666c;
}
.btn.brown {
  background: #413533;
}
.btn.mediumgrey {
  background: #cccccc;
}
.btn.darkblue {
  background: #3e4b5f;
}
.btn.lightgrey {
  background: #d4d4d4;
}
.btn.lightergrey {
  background: #dfe0e2;
}
.btn.btn-lg {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 20px 60px;
}
.btn.btn-lg i {
  margin-right: 20px;
  font-size: 25px;
}
.btn.btn-sm {
  font-family: "Open Sans";
  font-size: 10px;
  font-weight: 700;
  line-height: 15px;
  padding: 10px 25px;
}
.btn.btn-sm i {
  margin-right: 5px;
  font-size: 15px;
}
.btn.icon {
  padding: 10px 20px;
}
.btn.icon i {
  color: white;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 20px;
}
.btn.icon.btn-sm {
  padding: 7px 10px;
}
.btn.icon.btn-lg {
  padding: 13px 22px;
}
.controls {
  float: right;
  margin-bottom: 100px;
}
.controls button {
  float: left;
  margin-right: 10px;
}
#fixed-header.navbar {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  background: none !important;
  border: none;
}
#fixed-header.navbar .logo-box {
  position: absolute;
  left: 0;
  height: 103px;
  overflow: hidden;
  min-width: 100px;
}
#fixed-header.navbar .logo {
  margin: 10px 0;
  position: relative;
}
@media screen and (min-width: 769px) {
  .front #fixed-header.navbar {
    display: block;
    height: 0;
  }
  .front #header .logo-box,
  .front #header .login-order-wrap {
    opacity: 0;
  }
}
.navbar {
  position: absolute;
  width: 100%;
  height: 103px;
  z-index: 9;
  border-bottom: 2px solid white;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
  margin-bottom: 0;
  background: url(../../img/header-bg.gif) !important;
}
.front .navbar {
  top: 395px;
}
.navbar .logo {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 10px 0;
  z-index: 9;
}
@media screen and (max-width: 768px) {
  .navbar .logo {
    display: block !important;
    width: 42px;
    height: 42px;
    margin: 3px 10px;
  }
}
.navbar .logo-box {
  position: absolute;
  left: 0;
  height: 103px;
  overflow: hidden;
  min-width: 100px;
}
@media screen and (max-width: 768px) {
  .navbar .logo-box {
    position: relative;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .navbar .menu-box {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    background: url(../../img/header-bg.gif);
    border-top: 1px solid #303030;
  }
}
.navbar .menu-wrap {
  float: right;
}
@media screen and (max-width: 768px) {
  .navbar .menu-wrap {
    float: none;
  }
}
.navbar .login-order-wrap {
  float: right;
  height: 1px;
}
.navbar .menu {
  position: relative;
  margin-top: 40px;
  font-size: 25px;
  padding-left: 0;
  z-index: 9;
}
@media screen and (max-width: 768px) {
  .navbar .menu {
    width: 100%;
    margin-top: 25px;
  }
  .navbar .menu li {
    display: block;
    text-align: center;
    margin-bottom: 27px !important;
    margin-right: 0 !important;
  }
}
.navbar a.button {
  font-size: 25px;
  margin-left: 30px;
}
@media screen and (max-width: 940px) {
  .navbar a.button {
    margin-left: 10px;
  }
}
.navbar .navbar-header {
  float: none;
}
.navbar.sticky {
  position: fixed;
  top: 0;
}
.navbar .login-order {
  width: auto;
  height: 103px;
  z-index: 9;
  white-space: nowrap;
}
.navbar .login-order .sticky-show {
  margin-top: 29px;
}
.front .navbar .login-order {
  top: 0;
}
.navbar .login-order a {
  color: #fff !important;
}
@media screen and (max-width: 768px) {
  .navbar .login-order {
    margin-top: 20px;
    padding: 0 20px;
    height: auto;
    text-align: center;
  }
  .navbar .login-order a {
    display: block;
    text-align: center;
    margin: 0 !important;
    line-height: 2;
  }
  .navbar .login-order ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .navbar .login-order li {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
  }
  .navbar .login-order .button {
    margin: 0;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
    line-height: 1;
  }
}
.navbar.navbar-inverse {
  background: #202020;
  border-bottom: none;
}
.navbar.navbar-inverse .main-nav > li {
  position: relative;
}
.navbar.navbar-inverse .main-nav > li:hover > ul {
  overflow: visible;
  height: auto;
  -webkit-opacity: 0.95;
  -moz-opacity: 0.95;
  opacity: 0.95;
  padding: 18px 0px 20px;
}
.navbar.navbar-inverse .main-nav > li.active > a {
  background: transparent;
  font-weight: bold;
}
.navbar.navbar-inverse .main-nav > li.active > a:hover {
  color: #202020;
}
.navbar.navbar-inverse .main-nav > li > a {
  color: #202020;
  text-transform: uppercase;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  padding-top: 30px;
  padding-bottom: 25px;
}
.navbar.navbar-inverse .main-nav > li > a:hover {
  color: #f8434a;
}
.navbar.navbar-inverse .main-nav > li ul {
  position: absolute;
  min-width: 170px;
  background: white;
  border-bottom: solid 1px #c0c0c0;
  margin: 0;
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  height: 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  overflow: hidden;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
.navbar.navbar-inverse .main-nav > li ul li {
  float: left;
  width: 100%;
  position: relative;
  padding: 5px 20px;
}
.navbar.navbar-inverse .main-nav > li ul li:hover > a {
  color: #f8434a;
}
.navbar.navbar-inverse .main-nav > li ul li.active a {
  color: #f8434a;
}
.navbar.navbar-inverse .main-nav > li ul li a {
  float: left;
  width: 100%;
  color: #202020;
  white-space: nowrap;
  text-transform: none;
  padding: 2px 0;
}
.navbar.navbar-inverse .main-nav > li > ul {
  top: 100%;
  border-top: solid 2px #d4d4d4;
  z-index: 300;
}
.navbar.navbar-inverse .main-nav > li > ul > li:hover > ul {
  overflow: visible;
  height: auto;
  -webkit-opacity: 0.95;
  -moz-opacity: 0.95;
  opacity: 0.95;
  padding: 18px 0px 20px;
}
.navbar.navbar-inverse .main-nav > li > ul > li ul {
  padding: 10px 0px 20px;
  left: 100%;
  top: -10px;
}
.navbar.navbar-inverse .main-nav > li > ul > li ul li:hover > ul {
  overflow: visible;
  height: auto;
  -webkit-opacity: 0.95;
  -moz-opacity: 0.95;
  opacity: 0.95;
  padding: 18px 0px 20px;
}
.navbar.navbar-inverse .main-nav > li .dropdown-toggle {
  display: none;
}
.navbar.navbar-inverse .social-nav > li > a {
  color: white;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  font-size: 20px;
  line-height: 20px;
  padding: 15px 7px;
}
.navbar.navbar-inverse .social-nav > li > a:hover {
  color: #f8434a;
}
.navbar.navbar-inverse .open > a:focus {
  background-color: transparent;
}
.navbar .normal-color {
  float: left;
  width: 100%;
}
.navbar .normal-color.opacity {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.navbar .normal-color.with-slider .navbar-header {
  position: relative;
  z-index: 2;
}
.navbar .normal-color.with-slider .social-nav {
  position: relative;
  z-index: 2;
}
.navbar .inverse-color {
  float: left;
  width: 100%;
  background: white;
}
.navbar .inverse-color.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}
.navbar .navbar-brand {
  height: auto;
  margin-left: 0;
}
.navbar .header-search {
  padding-top: 20px;
}
.navbar .header-search .form-control {
  height: 42px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar .header-search .input-group-btn .btn-default {
  font-size: 20px;
  color: #737373;
  background: transparent;
  padding: 10px;
  border: solid 1px #ccc;
  border-left: none;
}
.navbar .header-search .input-group-btn .btn-default:hover {
  background: transparent;
}
.navbar .search-trigger {
  background: transparent;
  color: #cccccc;
  margin-top: 14px;
  font-size: 22px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.navbar .search-wrap {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background: rgba(41, 41, 41, 0.98);
  -webkit-opacity: 0.95;
  -moz-opacity: 0.95;
  opacity: 0.95;
  padding: 30px 0;
  z-index: 200;
}
.navbar .search-wrap.sticky {
  position: fixed;
  left: 0;
}
.navbar .search-wrap .form-control {
  margin-bottom: 0;
  height: 80px;
  font-size: 60px;
  line-height: 80px;
  color: white;
  background: transparent;
  border: none;
  font-weight: 300 !important;
  padding-top: 0;
  padding-bottom: 0;
}
.navbar .search-wrap input[type="submit"] {
  display: none;
}
.navbar .header-slider {
  float: left;
  width: 100%;
  margin-top: -51px;
  position: relative;
  z-index: 1;
}
.navbar .header-slider .tp-rightarrow.default {
  background: transparent;
  position: relative;
  z-index: 20;
}
.navbar .header-slider .tp-rightarrow.default:after {
  font-family: "entypo";
  content: '\e875';
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 100%;
  color: white;
  font-size: 30px;
  text-align: center;
}
.navbar .header-slider .tp-leftarrow.default {
  background: transparent;
  position: relative;
  z-index: 20;
}
.navbar .header-slider .tp-leftarrow.default:after {
  font-family: "entypo";
  content: '\e874';
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 100%;
  color: white;
  font-size: 30px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .navbar {
    position: fixed !important;
    top: 0 !important;
    height: auto;
  }
  .navbar .navbar-toggle {
    display: block;
    margin-right: 0;
    margin-top: 16px;
    padding: 0;
    border-radius: 0;
    border: none;
    z-index: 9;
  }
  .navbar .navbar-toggle .icon-bar {
    width: 20px;
    height: 3px;
  }
}
.mobile-subnav {
  background-color: rgba(0, 0, 0, 0.3);
  margin: 20px 0;
  padding-bottom: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.mobile-subnav h2 {
  font-size: 1.5em;
  color: #1b7d58;
  font-weight: bold;
}
.mobile-subnav ul {
  margin: 0;
  padding: 0;
}
.mobile-subnav ul li {
  margin-bottom: 15px !important;
}
.statement {
  float: left;
  width: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 130px 170px 90px 170px;
}
.statement.red {
  background-image: url('../content/statement-background.jpg');
  margin-bottom: 40px;
  margin-top: -50px;
}
.statement.red .btn-statement {
  background: transparent;
  border: solid 2px white;
  color: #ededed;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.statement.grey {
  background: #ededed;
  padding: 70px 0;
  margin-bottom: 40px;
}
.statement.grey h2 {
  float: left;
  width: 100%;
  color: #202020;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 40px;
  padding: 0 130px;
}
.statement.grey .content {
  float: left;
  width: 100%;
  color: #828282;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 50px;
  padding: 0 130px;
}
.statement.grey .btn-statement {
  font-weight: 300;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  padding: 15px 25px;
}
.statement.grey .btn-statement.btn-blue {
  background: #008ce7;
}
.statement.grey .btn-statement.btn-green {
  background: #5cd117;
}
.statement.black {
  background-image: url('../content/statement-background-2.jpg');
}
.statement.black .btn-statement {
  background: white;
  color: #202020;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.statement.black-2 {
  background-image: url('../content/statement-background-4.jpg');
}
.statement.black-2 .btn-statement {
  background: transparent;
  color: white;
  border: solid 1px white;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.statement.blue {
  background-image: url('../content/statement-background-3.jpg');
}
.statement.blue h2 {
  color: #202020;
}
.statement.blue .btn-statement {
  background: #202020;
  color: white;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
.statement h2 {
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 400;
  line-height: 38px;
  color: white;
  margin-bottom: 45px;
  margin-top: 0;
}
.statement.simple {
  margin-bottom: 0;
  text-align: center;
}
.statement.simple.red {
  background: #f8434a;
}
.statement.simple.blue {
  background: #008ce7;
}
.statement.simple.green {
  background: #5cd117;
}
.statement.simple .oldal-icon {
  margin-bottom: 30px;
}
.statement.simple h2 {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  margin-bottom: 40px;
  margin-top: 0;
  font-style: italic;
}
.statement.simple .date {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  font-style: italic;
}
.statement .btn-statement {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  -webkit-border-radius: 1px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 1px;
  -moz-background-clip: padding;
  border-radius: 1px;
  background-clip: padding-box;
  padding: 8px 30px;
}
.statement .btn-statement:hover {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.btn-group.default-group {
  float: left;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 60px;
}
.btn-group.default-group .btn-default {
  background: white;
  border: solid 1px #c4c4c4;
  color: #737373;
  font-weight: 400;
  padding: 15px;
}
.btn-group.default-group .btn-default.active,
.btn-group.default-group .btn-default:hover,
.btn-group.default-group .btn-default:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #f8434a;
  border: solid 1px #f8434a;
  color: #ffffff;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.main-footer {
  background: #fafafa url(../../img/footer-bg.gif);
  padding: 70px 0 40px;
  float: left;
  width: 100%;
  position: relative !important;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.main-footer .contact-box {
  font-size: 16px;
}
.main-footer .contact-box .icon-phone {
  margin-bottom: 8px;
}
.main-footer .contact-box .icon-phone:before {
  margin-right: 5px;
}
.main-footer .contact-box .icon-email {
  margin-bottom: 8px;
}
.main-footer .contact-box .icon-email a {
  margin-left: 21px;
}
.main-footer .contact-box .icon-email:before {
  position: absolute;
  margin-top: 2px;
}
.main-footer .contact-box .icon-facebook {
  margin-bottom: 8px;
}
.main-footer .contact-box .icon-facebook:before {
  margin-right: 5px;
}
.main-footer .contact-box a {
  color: inherit;
}
@media screen and (max-width: 768px) {
  .main-footer .col-sm-3 {
    display: none;
  }
  .main-footer .col-sm-2 img {
    display: none;
  }
  .main-footer .footer-info {
    text-align: right;
  }
}
.footer-widget {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
.footer-widget h2 {
  font-family: "Amatic SC";
  font-size: 30px;
  color: #43484d;
  margin-bottom: 10px;
  text-transform: uppercase;
  margin-top: 0;
}
.footer-widget .widget-content {
  float: left;
  width: 100%;
}
.footer-widget .widget-content address {
  color: #737373;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 5px;
}
.footer-widget .widget-content ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 15px;
  line-height: 1.5;
}
.footer-widget .widget-content ul li a {
  color: #43484d;
}
.footer-widget .instagram .row {
  margin-left: -3px;
  margin-right: -3px;
}
.footer-widget .instagram .col-sm-3 {
  padding-left: 3px;
  padding-right: 3px;
}
.footer-widget .instagram a {
  float: left;
  width: 100%;
  margin-bottom: 6px;
}
.footer-widget .instagram a img {
  width: 100%;
  height: auto;
}
.footer-widget .latest-post ul {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer-widget .latest-post ul li {
  float: left;
  width: 100%;
  margin-top: 20px;
}
.footer-widget .latest-post ul li:first-child {
  margin-top: 0;
}
.footer-widget .latest-post h3 {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #202020;
  margin: 0;
}
.footer-widget .latest-post h3 a {
  color: #202020;
}
.footer-widget .latest-post p {
  color: #737373;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 5px;
}
.footer-widget .latest-post .date {
  color: #202020;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  font-style: italic;
}
.footer-info {
  margin-top: 15px;
  font-size: 12px;
  text-align: left;
  float: left;
  width: 100%;
}
.footer-info p {
  color: #737373;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 5px;
}
.footer-social {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-bottom: 65px;
  list-style: none;
}
.footer-social li {
  float: left;
}
.footer-social li:last-child a {
  padding-right: 0;
}
.footer-social li a {
  font-size: 20px;
  color: #c8c8c8;
  line-height: 20px;
  padding: 5px 5px;
}
.slider-controls {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -40px;
  z-index: 190;
}
.slider-controls button {
  background: transparent;
  border: none;
  font-size: 30px;
  line-height: 30px;
  color: #d4d4d4;
  position: absolute;
}
.slider-controls button.left {
  left: -50px;
}
.slider-controls button.right {
  right: -50px;
}
.testimonial {
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 80px;
}
.testimonial.embedded-author i {
  float: left;
  color: #202020;
  margin-right: 10px;
  font-size: 20px;
  margin-top: -2px;
}
.testimonial.embedded-author .name {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  float: left;
  color: #202020;
  margin-right: 10px;
}
.testimonial.embedded-author .text {
  float: left;
  width: 100%;
  margin-top: 10px;
}
.testimonial .content {
  background: #e5e5e5;
  padding: 30px;
  float: left;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: #202020;
}
.testimonial .content:after {
  content: "";
  position: absolute;
  border-right: 15px solid transparent;
  border-top: 15px solid #e5e5e5;
  border-left: 15px solid transparent;
  border-top-color: #e5e5e5;
  bottom: 37px;
  left: 45px;
}
.testimonial .content.no-after:after {
  border: none;
}
.testimonial .author {
  margin-top: 30px;
  float: left;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
}
.testimonial .author .name {
  float: left;
  color: #202020;
}
.testimonial .author .position {
  float: left;
  margin-left: 10px;
  color: #a3a3a3;
}
.testimonial.highlighted .content {
  color: white;
  background: #202020;
}
.testimonial.highlighted .content:after {
  border-top: 15px solid #202020;
  border-top-color: #202020;
}
.oldal-tooltip {
  text-decoration: none;
}
.oldal-tooltip ~ .tooltip .tooltip-inner {
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Open Sans";
  font-size: 10px;
  font-weight: 700;
  line-height: 140%;
  color: white;
  text-transform: uppercase;
}
.oldal-tooltip.red {
  color: #f8434a;
}
.oldal-tooltip.red ~ .tooltip .tooltip-inner {
  background: #f8434a;
}
.oldal-tooltip.black {
  color: #202020;
}
.oldal-tooltip.black ~ .tooltip .tooltip-inner {
  background: #202020;
}
.tabs {
  float: left;
  width: 100%;
}
.tabs .nav-tabs {
  border-bottom: none;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
}
.tabs .nav-tabs li {
  margin-bottom: 0;
}
.tabs .nav-tabs li a {
  border: none;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
  margin: 0;
}
.tabs .nav-tabs li.active a {
  border: none;
}
.tabs .tab-pane {
  padding: 30px;
  background: #ededed;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: #202020;
}
.tabs.light .nav-tabs li a {
  background: white;
  color: #a3a3a3;
}
.tabs.light .nav-tabs li a:hover {
  background: #ededed;
  color: #202020;
}
.tabs.light .nav-tabs li.active a {
  background: #ededed;
  color: #202020;
}
.tabs.light .tab-pane {
  background: #ededed;
  color: #202020;
}
.tabs.dark .nav-tabs li a {
  background: #ededed;
  color: #919191;
}
.tabs.dark .nav-tabs li a:hover {
  background: #202020;
  color: #ededed;
}
.tabs.dark .nav-tabs li.active a {
  background: #202020;
  color: #ededed;
}
.tabs.dark .tab-pane {
  background: #202020;
  color: #ededed;
}
.button-set {
  width: 20%;
  float: left;
}
.button-set button {
  float: none;
  margin-bottom: 20px;
}
.icon-button-set {
  float: left;
  margin: 0 30px 60px 0;
  padding: 0;
  list-style: none;
  display: block;
}
.icon-button-set li {
  padding: 0;
  float: none;
}
.icon-button-set .btn {
  margin-bottom: 15px;
}
.icon-button-set .btn-sm {
  margin-bottom: 10px;
}
.icon-button-set .btn-lg {
  margin-bottom: 25px;
}
.action-call {
  float: left;
  width: 100%;
  margin-bottom: 50px;
}
.action-call.grey {
  background: #ededed;
  padding: 40px 60px;
}
.action-call.grey h2 {
  float: left;
  margin: 0;
  font-family: "Open Sans";
  font-size: 28px;
  font-weight: 700;
  line-height: 140%;
  color: #202020;
  text-transform: uppercase;
}
.action-call.grey h3 {
  float: left;
  margin: 0;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #202020;
}
.action-call.grey button {
  float: right;
  text-transform: uppercase;
  padding: 15px 80px;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.action-call.red {
  background-image: url('../content/action-call-background.jpg');
  background-size: cover;
  background-position: center;
  padding: 60px 100px;
}
.action-call.red h2 {
  float: left;
  margin: 0;
  font-family: "Open Sans";
  font-size: 35px;
  font-weight: 700;
  line-height: 45px;
  color: white;
}
.action-call.red button {
  float: right;
  text-transform: uppercase;
  background: white;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  color: #f8434a;
  padding: 15px 80px;
}
.action-call.red.dark {
  background-image: url('../content/action-call-background-2.jpg');
}
.action-call.red.dark button {
  color: #202020;
}
.table {
  float: left;
  width: 100%;
  border: solid 1px #e2e2e2;
}
.table > thead > tr > th {
  padding: 25px 40px;
  background: #e2e2e2;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #202020;
  border-top: none;
  position: relative;
}
.table > thead > tr > th:before {
  content: "";
  position: absolute;
  border-left: 1px solid #cbcbcb;
  height: 30px;
  left: 0;
}
.table > thead > tr > th:first-child:before {
  border-left: none;
}
.table > tbody > tr > td {
  text-align: center;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 45px;
  color: #666666;
  border-top: solid 1px #e2e2e2;
}
.labels {
  float: left;
  width: 100%;
}
.labels h3 {
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 700;
  line-height: 35px;
  color: #202020;
}
.labels ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.labels ul li {
  float: none;
  margin-bottom: 10px;
}
.label {
  font-family: "Open Sans";
  font-size: 10px;
  font-weight: 700;
  line-height: 140%;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2px 5px;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
}
.label.grey {
  background: #737373;
}
.label.black {
  background: #202020;
}
.label.lightgrey {
  background: #d4d4d4;
}
.badges {
  float: left;
  width: 100%;
}
.badges h3 {
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 700;
  line-height: 35px;
  color: #202020;
}
.badges ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.badges ul li {
  float: none;
  margin-bottom: 10px;
}
.badge {
  font-family: "Open Sans";
  font-size: 10px;
  font-weight: 700;
  line-height: 140%;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 3px 8px;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
}
.badge.yellow {
  background: #ffd64f;
}
.badge.orange {
  background: #f7941d;
}
.badge.black {
  background: #202020;
}
.badge.lightblue {
  background: #30cab5;
}
.badge.red {
  background: #f8434a;
}
.badge.blue {
  background: #24c1dd;
}
.popovers {
  float: left;
  width: 100%;
}
.popovers h3 {
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 700;
  line-height: 35px;
  color: #202020;
}
.popovers .content {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: #666666;
}
.popovers button {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: #202020;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
.popover {
  -webkit-box-shadow: 0px 2px 2px -2px #808080;
  -moz-box-shadow: 0px 2px 2px -2px #808080;
  box-shadow: 0px 2px 2px -2px #808080;
  padding: 0;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  border: solid 1px #bdbdbd;
}
.popover.bottom .arrow {
  border-bottom-color: #bdbdbd;
}
.popover.bottom .arrow:after {
  border-bottom-color: #fafafa;
}
.popover.top .arrow {
  border-top-color: #bdbdbd;
}
.popover.top .arrow:after {
  border-top-color: white;
}
.popover.left .arrow {
  border-left-color: #bdbdbd;
}
.popover.left .arrow:after {
  border-left-color: white;
}
.popover.right .arrow {
  border-right-color: #bdbdbd;
}
.popover.right .arrow:after {
  border-right-color: white;
}
.popover .popover-title {
  -webkit-border-radius: 2px 2px 0px 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px 2px 0px 0px;
  -moz-background-clip: padding;
  border-radius: 2px 2px 0px 0px;
  background-clip: padding-box;
  background: #fafafa;
  border-bottom: solid 1px #bdbdbd;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  color: #202020;
}
.popover .popover-content {
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
  color: #565656;
}
.icon-button .col-sm-6 {
  padding: 0;
}
.icon-button .col-sm-4 {
  padding: 0;
}
.older-posts {
  float: left;
  width: 100%;
  padding: 80px 0;
}
.older-posts .btn-primary {
  color: #c2c2c2;
}
.widgets {
  float: left;
  width: 100%;
  margin-bottom: 60px;
}
.widget {
  float: left;
  width: 100%;
}
.widget h3 {
  float: left;
  width: 100%;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 48px;
  color: #202020;
  text-transform: uppercase;
  margin-top: 60px;
}
.widget.list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  width: 100%;
}
.widget.list ul a {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  color: #202020;
  text-decoration: none;
  float: left;
  width: 100%;
}
.widget.text .text-content {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: #666666;
}
.simple-footer {
  float: left;
  width: 100%;
  background: #202020;
  padding: 90px 0 40px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.simple-footer .footer-group {
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}
.simple-footer .footer-group .oldal-icon {
  margin-bottom: 15px;
  color: #838383;
}
.simple-footer .footer-group .content {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  color: #838383;
}
.simple-footer .oldal-icon {
  margin: 0 20px 80px 20px;
}
.simple-footer .copyright {
  font-family: "Myriad Pro";
  font-size: 10px;
  font-weight: 400;
  line-height: 36px;
  color: #484848;
  text-transform: uppercase;
}
.revolution-wrap {
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.revolution-wrap .rev-caption {
  color: white;
  width: 100%;
}
.revolution-wrap .rev-caption h2 {
  font-size: 27px;
  line-height: 32px;
}
.revolution-wrap .rev-caption p {
  white-space: normal;
  font-size: 14px;
  line-height: 24px;
}
.revolution-wrap .rev-caption .inner {
  background: black;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  float: left;
  width: 100%;
  padding: 20px;
}
.revolution-wrap .rev-caption .big-inner {
  float: left;
  width: 100%;
}
.revolution-wrap .rev-caption .big-inner h2 {
  font-size: 50px;
  line-height: 50px;
  color: white;
  text-transform: uppercase;
  white-space: normal;
  margin-bottom: 30px;
}
.revolution-wrap .rev-caption .big-inner p {
  font-size: 24px;
  line-height: 32px;
  color: white;
  margin-bottom: 30px;
}
.revolution-wrap .rev-caption .big-inner a {
  color: white;
  text-transform: uppercase;
}
.revolution-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  z-index: 5;
}
.revolution-wrap.blue-overlay .overlay {
  background: #008ce7;
}
.revolution-wrap.green-overlay .overlay {
  background: #5cd117;
}
.revolution-wrap .btn-blue {
  background: #008ce7;
}
.revolution-wrap .btn-green {
  background: #5cd117;
}
.fancybox-wrap .fancybox-title-float-wrap {
  margin-bottom: -45px;
}
.fancybox-wrap .fancybox-title-float-wrap .child {
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
.fancybox-wrap .oldal-fancy {
  background: #202020;
  border: none;
  color: white;
  font-size: 16px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 0;
}
.fancybox-wrap .left-container {
  position: absolute;
  bottom: -45px;
  left: 10px;
}
.fancybox-wrap .left-container button {
  margin-right: 5px;
}
.fancybox-wrap .oldal-close {
  position: absolute;
  bottom: -45px;
  right: 10px;
}
.fancybox-wrap .oldal-fullscreen {
  position: absolute;
  top: 10px;
  right: 10px;
}
.main-wrap {
  position: relative;
  z-index: 0;
  background: white;
  float: left;
  width: 100%;
}
.selectboxit-container {
  width: 100%;
}
.selectboxit-container span {
  height: 40px;
  line-height: 40px;
}
.selectboxit-container .selectboxit-btn {
  width: 100%;
  background: transparent;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  border: solid 1px #CCC;
  margin-bottom: 30px;
  color: #999;
  font-family: "Open Sans", Arial, sans-serif;
}
.selectboxit-container .selectboxit-btn:hover {
  background: transparent;
}
.selectboxit-container .selectboxit-btn.selectboxit-focus {
  background: transparent;
}
.selectboxit-container .selectboxit .selectboxit-arrow-container .selectboxit-arrow {
  margin-top: -4px;
}
.selectboxit-container .selectboxit-default-arrow {
  border-top: 6px solid #ccc;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.selectboxit-container .selectboxit-text {
  color: #999;
  font-weight: bold;
}
.selectboxit-container .selectboxit-list .selectboxit-option-anchor {
  color: #999;
}
.selectboxit-container .selectboxit-options {
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  top: 100%;
  margin-top: -30px;
  float: left;
  width: 100%;
}
.selectboxit-container .selectboxit-options .selectboxit-option {
  float: left;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #999;
}
.selectboxit-container .selectboxit-options .selectboxit-option.selectboxit-focus {
  background: #efefef;
  color: #999;
}
.selectboxit-container .selectboxit-options .selectboxit-option.selectboxit-focus > .selectboxit-option-anchor {
  background: #efefef;
  color: #999;
}
.selectboxit-container .selectboxit-options .selectboxit-option.selectboxit-selected {
  background: #efefef;
  color: #999;
}
.selectboxit-container .selectboxit-options .selectboxit-option.selectboxit-selected > .selectboxit-option-anchor {
  background: #efefef;
  color: #999;
}
.isotopeContainer {
  float: left;
  width: 100%;
}
.product-slider {
  float: left;
  width: 100%;
}
.product-slider .slides {
  float: left;
  width: 100%;
}
.product-slider .slides li {
  float: left;
  width: 100%;
  position: relative;
}
.product-slider .slides li .zoom-button {
  top: 0;
  right: 0;
  text-align: right;
  font-size: 16px;
  color: #737373;
  text-transform: capitalize;
}
.product-slider .slides li img {
  width: 100%;
  height: auto;
}
.product-details {
  float: left;
  width: 100%;
}
.product-details .product-title {
  float: left;
  width: 100%;
  font-size: 28px;
  font-weight: bold;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.product-details .product-price {
  float: left;
  width: 100%;
  font-size: 48px;
  line-height: 50px;
  font-weight: 300;
  margin-bottom: 15px;
}
.product-details .description {
  float: left;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}
.product-details .description p {
  margin-bottom: 15px;
}
.product-details .description ul {
  padding-left: 22px;
}
.product-selectors label {
  margin-bottom: 10px;
  font-weight: 400;
}
.product-selectors .selectboxit-container .selectboxit-btn {
  border-color: #202020;
  color: #202020;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
}
.product-selectors .selectboxit-container .selectboxit-text {
  color: #202020;
}
.product-selectors .selectboxit-container .selectboxit-default-arrow {
  border-top: 6px solid #202020;
}
.product-selectors .selectboxit-container .selectboxit-list {
  border-color: #202020;
}
.product-selectors .btn {
  margin-top: 21px;
}
.product-tabs {
  float: left;
  width: 100%;
}
.product-tabs .nav-pills {
  margin-bottom: 30px;
}
.product-tabs .nav-pills > li {
  margin-right: 20px;
}
.product-tabs .nav-pills > li.active > a {
  background: transparent;
  color: #202020;
}
.product-tabs .nav-pills > li > a {
  color: #737373;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.product-tabs .tab-content p {
  font-size: 16px;
  color: #737373;
  line-height: 20px;
}
.flexslider {
  margin: 0 !important;
}
.flexslider .views-field-field-image2 {
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 768px) {
  .flexslider .views-field-field-image2 {
    height: 270px;
  }
}
@media screen and (min-width: 768px) {
  .flexslider .views-field-field-image2 {
    height: 400px;
  }
}
@media screen and (min-width: 1024px) {
  .flexslider .views-field-field-image2 {
    height: 450px;
  }
}
.similar-slider {
  float: left;
  width: 100%;
}
.similar-slider h2 {
  float: left;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  margin-top: 0;
  font-weight: bold;
}
.similar-slider .slider-controls {
  float: right;
  position: relative;
  width: auto;
  margin-top: 0;
}
.similar-slider .slider-controls button {
  color: #202020;
}
.similar-slider .slider-controls button.right {
  right: -30px;
}
.similar-slider .flex-viewport {
  margin-top: 30px;
  float: left;
}
.similar-slider .slides {
  float: left;
  width: 100%;
}
.similar-slider .slides li {
  float: left;
  width: 100%;
}
.similar-slider .similar-product {
  float: left;
  width: 100%;
}
.similar-slider .similar-product figure {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}
.similar-slider .similar-product figure img {
  width: 100%;
  height: auto;
}
.similar-slider .similar-product .name {
  float: left;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}
.similar-slider .similar-product .price {
  float: left;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.overlay-general {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f8434a;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-align: center;
}
.overlay-general button {
  line-height: 100%;
  color: white;
  width: 100%;
  background: transparent;
  border: none;
  font-size: 60px;
  height: 100%;
}
.overlay-general button i {
  line-height: 100%;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .button-set {
    width: 30%;
    margin-bottom: 30px;
  }
  .action-call.grey h2 {
    font-size: 24px;
  }
  .action-call.grey h3 {
    font-size: 12px;
  }
  .action-call.grey button {
    font-size: 14px;
    padding: 12px 50px;
  }
  .action-call.red h2 {
    font-size: 28px;
  }
  .action-call.red button {
    font-size: 14px;
    padding: 12px 50px;
  }
  .inner-container .action-call.red h2 {
    font-size: 25px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .title {
    font-size: 35px;
  }
  .pricing-box .panel-heading {
    font-size: 20px;
  }
  .pricing-box .price .value {
    font-size: 65px;
  }
  .button-set {
    width: 40%;
    margin-bottom: 30px;
  }
  .action-call.grey h2 {
    font-size: 20px;
  }
  .action-call.grey h3 {
    font-size: 10px;
  }
  .action-call.grey button {
    font-size: 12px;
    padding: 10px 35px;
  }
  .action-call.red h2 {
    font-size: 22px;
  }
  .action-call.red button {
    font-size: 12px;
    padding: 10px 35px;
  }
  .action-call.grey {
    padding: 25px 25px;
  }
  .action-call.red {
    padding: 50px 80px;
  }
  .icon-button-set {
    width: 100%;
    text-align: center;
  }
  .inner-container .action-call.red {
    padding: 40px 60px;
  }
  .inner-container .action-call.red h2 {
    font-size: 18px;
  }
  .navbar.navbar-inverse .main-nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 200px) and (max-width: 767px) {
  .navbar.navbar-inverse .social-nav {
    float: right;
    margin-right: 0;
  }
  .navbar.navbar-inverse .social-nav > li {
    float: left;
  }
  .navbar.navbar-inverse .main-nav > li {
    float: left;
    width: 100%;
  }
  .navbar.navbar-inverse .main-nav > li:hover > ul {
    display: none;
  }
  .navbar.navbar-inverse .main-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar.navbar-inverse .main-nav > li .dropdown-toggle {
    display: none;
  }
  .navbar.navbar-inverse .main-nav > li ul + .dropdown-toggle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    margin-top: 9px;
  }
  .navbar.navbar-inverse .main-nav > li ul {
    display: block;
    position: static;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    border-bottom: none;
    padding: 5px 0 2px;
    float: left;
    width: 100%;
  }
  .navbar.navbar-inverse .main-nav > li ul li {
    padding: 5px 30px;
  }
  .navbar.navbar-inverse .main-nav > li > ul {
    display: none;
    border-top: none;
  }
  .navbar.navbar-inverse .main-nav > li > ul li > ul {
    padding: 5px 0 2px;
  }
  .navbar .header-slider {
    display: none;
  }
  .title {
    margin-bottom: 30px;
  }
  .tabs {
    margin-bottom: 30px;
  }
  .button-set {
    width: 80%;
    margin-bottom: 30px;
  }
  .action-call {
    position: relative;
  }
  .action-call button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -146px;
  }
  .action-call.grey h2 {
    margin-bottom: 20px;
  }
  .action-call.grey {
    padding: 40px 60px 90px 60px;
  }
  .action-call.red {
    padding: 60px 70px 110px 70px;
  }
  .icon-button-set {
    width: 100%;
    text-align: center;
  }
  .statement {
    padding: 70px 70px 90px 70px;
  }
  .widgets {
    text-align: center;
  }
  .older-posts {
    text-align: center;
  }
  .product {
    margin-bottom: 20px;
  }
  .statement.grey h2 {
    padding: 0 50px;
  }
  .statement.grey .content {
    padding: 0 50px;
  }
  .portfolio-single-post figure {
    margin-top: 0;
  }
  .portfolio-header .controls {
    margin-bottom: 40px;
  }
  .portfolio-header .portfolio-post-title {
    margin-bottom: 30px;
  }
  .portfolio-single-post .description-content {
    margin-bottom: 30px;
  }
  .box .content.lg-padded {
    padding-left: 0;
    margin-top: 20px;
  }
  .box .title {
    text-align: center;
    width: 100%;
  }
  .box .title .lg-icon {
    width: 100%;
  }
  .inner-container .action-call.red {
    padding: 60px 50px 110px 50px;
  }
  .inner-container .action-call button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -106px;
    padding: 15px 40px;
  }
  .box header {
    width: 100%;
    display: inline-block;
  }
  .categories {
    margin-bottom: 50px;
  }
  .product-list .no-items {
    margin-bottom: 20px;
  }
  .product-slider {
    padding-bottom: 30px;
  }
  .product-slider .flex-control-nav {
    bottom: 20px;
  }
  .product-tabs .nav-pills > li {
    float: left;
    width: 100%;
    margin-bottom: 10px;
  }
}
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
.option-info.section { margin-bottom:0 !important;}
form#complete-order-form { margin-top:0!important;}
.sticky-order h1 {display: inline-block;color:#ffffff;margin: 20px 150px 20px 0;}
.sticky-order input {
	position: absolute;
    right: 0;
    top: 26px;
}
body.page-node-5 .startorderbtn, body.page-node-6 .startorderbtn, body.page-node-23 .startorderbtn { display:none;}
.sticky-order {
    position: fixed;
    width: 100%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.6);
    z-index: 100000;
    height: 96px;
}
@media (min-width: 200px) and (max-width: 767px) {
	.sticky-order h1 {
    	margin: 10px 150px 10px 10px;
	    font-size: 30px;
	    line-height: 30px !important;
	}
	.sticky-order .right-col.col-md-10.col-md-offset-1 {
		margin-top:0;
	}
	.sticky-order { height:auto;}
}

#hear-option {
  display:none;
}
#hear-about {
  margin-bottom: 10px;
}