@import "lesshat.less"; 

@default-font-size: 14px;
@default-font: "Open Sans", Arial, sans-serif;
@heading-font: "Amatic SC";
@oldal-red : #f8434a;
@oldal-black: #202020;
@oldal-grey: #737373;
@oldal-mediumgrey: #d4d4d4;
@oldal-lightgrey: #ededed;

@farm-green: #1b7d58;

@screen-mobile: 768px;

.sub-heading-font {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 32px;
}

@font-face {
  font-family: 'icons';
  src:url('../../fonts/icons.eot?-os2c1y');
  src:url('../../fonts/icons.eot?#iefix-os2c1y') format('embedded-opentype'),
  url('../../fonts/icons.woff?-os2c1y') format('woff'),
  url('../../fonts/icons.ttf?-os2c1y') format('truetype'),
  url('../../fonts/icons.svg?-os2c1y#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e958";
}

.icon-facebook:before {
  content: "\ea8c";
}

.icon-email:before {
  content: "\e600";
}

.set-font(@font-family: @default-font, @font-size: "14px", @font-weight: 400, @line-height: 140%) {
  font-family: @font-family;
  font-size: @font-size;
  font-weight: @font-weight;
  line-height: @line-height;
}
.set-default {
  float: left;
  width: 100%;
}

.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}

.clearfix { 
  *zoom: 1; 
  &:before,
  &:after {
    content: " ";
    display: table;
  } 
  &:after { clear: both; }

} 


.selection(~'color: white; background: #202020');

body {
  .set-font(@default-font, @default-font-size, 400);
//  padding-top: 178px;
color: @oldal-black;
background: white;
&.colored {
  background: #ededed;
  .line {
    padding: 0;
  }
  .statement {
    &.grey {
      margin-bottom: 0;
    }
    &.red {
      margin-top: 0;
    }
  }
  .team {
    margin-bottom: 0;
  }
  .main-wrap {
    background: #ededed;
  }
}
&.white-slider {
  .navbar.navbar-inverse .social-nav > li > a {
    color: @oldal-black;
  }
  .revolution-wrap .rev-caption .big-inner h2 {
    color: @oldal-black;
  }
  .revolution-wrap .rev-caption .big-inner p {
    color: @oldal-black;
  }
  .navbar .header-slider .tp-rightarrow.default:after {
    color: @oldal-black;
  }
  .navbar .header-slider .tp-leftarrow.default:after {
    color: @oldal-black;
  }
}
}
a {
  color: @farm-green;
  text-decoration: none !important;
  outline: none !important;
  &:hover { color: @farm-green; text-decoration: underline !important; }
}
button, input[type=submit] {
  border: none;
  outline: none !important;
}
.light {
  font-weight: 300;
}
h1 {
  .set-font(@heading-font, 32px);
  &.big {
    .set-font(@heading-font, 42px);
  }
}
h2 {
  .set-font(@heading-font, 26px, 400);
}
h3 {
  .set-font(@heading-font, 22px, 400);
}
h4 {
  .set-font(@heading-font, 18px);
}
h5 {
  .set-font(@heading-font, 16px);
}
h6 {
  .set-font(@heading-font, 14px);
}
.separator {
  width: 100%;
  margin: 10px 0;
  display: inline-block;
}
figure {
  .set-default;
  a {
    .set-default;
  }
  img {
    width: 100%;
    height: auto;
  }
}

table {
  width: 100%;
  border: none;
  tbody, tr, td, th { border: none; }
}

form {
  .clearfix;
  margin-top: 40px;
}

.flex-direction-nav {
  display: none;
}


.home-hero {
  min-height: 395px;
  background-size: cover;
  position: relative;

  a.logo {
    float: left;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    @media screen and (max-width: @screen-mobile) { display: none; } 
  }

  .hero-nav {
    float: right;
    margin-top: 50px;
    @media screen and (max-width: @screen-mobile) { display: none; } 
  }

  .hero-cta {
    position: absolute;
    bottom: 40px;
    @media screen and (max-width: @screen-mobile) {
      left: 0 !important;
      width: 100%;
      img { width: 100%; }
    } 
  }
}

a.logo {
  display: block;
  background: no-repeat url(../../img/country-lane-farms-logo.png);
  background-size: 100%;
}

.home-bottom-cta {
  text-align: center;
  padding: 60px 0;
  background: no-repeat url(../../img/content/home-cta-bg.jpg);
  background-size: cover;
}

.quote {
  font-size: 32px;
  line-height: 1.4;
  padding: 20px;
}

.button {
  font-size: 30px;
  font-family: @heading-font;
  display: inline-block;
  background: @farm-green;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 11px 18px;
  text-transform: uppercase;

  &.regular {
    font-family: @default-font;
    font-size: 15px;

  }

  &:visited, &:active { color: #fff; }
  &:hover { color: #fff; opacity: 0.8; text-decoration: none !important; }
}

.panel {
  border: none !important;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  &:last-child { .panel-body { border-bottom: none !important; } }
}
.panel-group .panel+.panel { margin-top: 0; }
.panel-default {
  .panel-heading {
    padding: 20px 0;
    border-bottom: 1px solid #c5c5c5;
    h4 { 
      .inline-block; 
      font-weight: bold; 
      font-size: 1.2em; 
      text-transform: uppercase; 
      font-family: @default-font; 
      @media screen and (max-width: @screen-mobile) { font-size: 14px; }
    }
    background-color: transparent !important;
    a {
      &:before {
        .inline-block;
        width: 25px;
        height: 25px;
        color: #fff;        
        margin: -2px 8px 0 0;
        padding: 2px 0 0 4px;
        vertical-align: middle;       
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #1a7d58;
        font-size: 53px;
        font-weight: 400;
        line-height: 10px;
        content: "-";
      }
      &.collapsed:before {
        font-size: 30px;
        font-weight: bold;
        line-height: 20px;
        content: "+";
      }
    }
    
  }
  .panel-body {
    padding: 20px 38px;
    border-top: none !important;
    border-bottom: 1px solid #c5c5c5;
  }
}

.red-message {
  max-width: 600px; 
  margin: 40px auto;
  padding: 3% 15%;
  line-height: 1.4em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: #ff0000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(255, 12, 20, 0.4);
  &.full-width { width: 100%; max-width: 100%; }
}

.red-text {
  color: #ff0000;
}

.arrow-btn {
  .inline-block;
  margin: 6px 0;
  padding-right: 40px;
  color: #fff;
  line-height: 27px;
  font-family: @heading-font;
  font-size: 1.5em;
  text-transform: uppercase;
  background: url('../../img/arrow-in-o.png') no-repeat;
  background-position: right top;
  &:hover { color: @farm-green; background-position: right bottom; }
}


.row { margin: 0; }

.nopadding { padding: 0; }

.uppercased { text-transform: uppercase; }
.centered { text-align: center; }
.bigger-text { font-size: 1.2em; }

.content img {
  max-width: 100%;
}

.caret {
  border-top: 8px solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

#user-menu {
  margin-top: 26px;
  a { color: #fff; &:hover { background-color: transparent; } }
  .dropdown-toggle { max-width: 260px; width: auto; font-size: 1em; }
  .dropdown-menu {
    width: 100%;
    padding-bottom: 10px;
    border: none;
    border-radius: 0;
    font-size: 1em;
    li {
      margin-bottom: 8px;
      padding-left: 14px;
      font-size: 1em;
      a {
        display: inline;
        padding: 0;
        color: #fff;
        font-size: 1em;
        line-height: 1em;
      }
    }
    background: url(../../img/header-bg.gif) !important;
  }
  .caret { margin-left: 8px; }
}

.views-field-field-headline {
  position: absolute;
  top: 60%;
  left: 20%;
  color: #fff;
  font-size: 60px;
  font-family: "Amatic SC";
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
  @media screen and (max-width: @screen-mobile) {
    top: 26%;
    left: 15%;
    line-height: 1em;
  }
}
.views-field-field-sub-headline {
  position: absolute;
  top: 73%;
  left: 20%;
  font-size: 37px;
  font-family: "Amatic SC";
  text-transform: uppercase;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
  a {
    .inline-block;
    padding-right: 40px;
    line-height: 27px;
    color: #fff;
    background: url('../../img/arrow-in-o.png') no-repeat;
    background-position: right top;
  }
  @media screen and (max-width: @screen-mobile) {
    left: 15%;
  }
}

.nav {
  font-family: @heading-font;
  text-transform: uppercase;
  font-size: 1em;

  a {
    color: white;
    margin: 0;

    &.active {
      color: white;
      opacity: 0.8;
    }
  }
}

.subnav {
  display: none;
  position: absolute;
  padding-top: 42px; 
  top: 58px;
  left: -1px;
  right: -1px;
  font-family: @default-font;
  z-index: 5;
  -webkit-box-shadow: 0px 40px 52px -7px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 40px 52px -7px rgba(0,0,0,0.5);
  box-shadow: 0px 40px 52px -7px rgba(0,0,0,0.5);
  background: url(../../img/header-bg.gif);
  color: #fff;
  .pic { 
    margin-top: 20px;
    padding-right: 10%;
    height: 100%;
    overflow: hidden; 
    img { 
      width: 100%; 
      border: 2px solid #ccc; 
      border-radius: 12px; 
      -webkit-border-radius: 12px; 
      -moz-border-radius: 12px; 
    }
  }
  .inner { 
    .clearfix; 
    width: 100%; 
    padding: 10px 0 30px; 
    border-top: 2px solid #d4d4d4;
    background-color: transparent; 
  }
  h2 { font-family: @heading-font; }
  ul { padding: 0; }
  li { display: block !important; .clearfix; margin: 0 0 8px !important; } 
  a { 
    
    margin: 0 !important; 
    font-size: 15px;
    text-transform: uppercase;
    color: #fff !important; 
  }
}


.page-banner {
  img { width: 100%; }
  @media screen and (max-width: @screen-mobile) { display: none; } 
}


.page-type-pcatlisting {
  @media screen and (max-width: @screen-mobile) { 
    > .main-wrap > .content { padding: 0 !important; }
  }
}

.front {
  .content {
    background: url(../../img/wood-texture.jpg) top;
  }

  .home-product {
    position: relative;
    display: block;
    img {
      width: 100%;
    }

    .description {
      opacity: 0.8;
      width: 50%;
      text-align: center;
      position: absolute;
      top: 15%;
      width: auto;
      max-width: 100%;
      z-index: 1;

      &.left { left: 8%; }
      &.right { left: 58%; }

      @media screen and (max-width: @screen-mobile) {
        opacity: 1;
        &.left { right: 49%; left: 2%; }
      }
    }

    &.salmon {
      .description {
        top: auto;
        bottom: 30%;
      }
    }

    &.beef-ribs {
      .description {
        @media screen and (max-width: @screen-mobile) { margin-top: -20px; }
      } 
    }

    &.lobster-scallops {
      .description {
        top: auto;
        bottom: 13%;
      } 
    }

    &:hover {
      .description {
        opacity: 1;
      }
    }
  }
}


.not-front {
  color: #43484d;
  font-size: 15px;
  line-height: 140%;
  @media screen and (max-width: @screen-mobile) { 
    font-size: 14px; 
    .main-wrap { margin-top: 40px !important; }
  }

  .navbar {
    position: fixed; 
  }

  .header-spacer {
    height: 103px;

    @media screen and (max-width: @screen-mobile) { 
      height: 10px;
    }
  }


  >.main-wrap {
    //margin-top: 100px;
    >.content { 
      .clearfix;  
      padding: 50px 0 0;

      .button { margin: 20px 0; }
      @media screen and (max-width: @screen-mobile) { 
        padding-left: 15px; 
        padding-right: 15px; 
        p { text-align: center; }
      } 

    }
  }

  h1 {
    margin: 0 0 0.6em; 
    line-height: 56px !important; 
    font-size: 56px; 
    text-transform: uppercase;
    @media screen and (max-width: @screen-mobile) {
      font-size: 3em;
      text-align: center;
    }
  }
  p { margin: 0 0 1em; }

  

  .pic-block { 
    padding-bottom: 50px;
    text-align: center; 
    img { max-width: 90%; } 
  }
  .text-block { margin-bottom: 40px; }


  .top-block {
    margin-top: -50px;
    padding: 50px 0 0;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .section {
    margin-bottom: 80px;
    @media screen and (max-width: @screen-mobile) { margin-bottom: 40px; }
  }

} 

.products-list {
  .products-list-item {
    .clearfix;
    margin: 40px 0 30px;
    height: 280px;
    @media screen and (max-width: @screen-mobile) { height: auto; margin-bottom: 80px; }
  }
  h2 {
    margin: 0 0 0.3em;
    text-transform: uppercase;
    font-size: 30px;
  }
  .pic-block { 
    img { max-width: 90%; } 
    @media screen and (max-width: @screen-mobile) { padding-bottom: 30px; }
  }
  .text { color: #fff; }
}

.del-btns {
  display: none;
  @media screen and (max-width: @screen-mobile) {
    display: block;
    .button { position: relative; margin: 0; }
    .del-prev {
      padding: 11px 12px 11px 24px;
      &:before {
        position: absolute;
        left: 8px;        
        content: "\3c";
      }
    }
    .del-next {
      padding: 11px 24px 11px 12px;
      &:before {
        position: absolute;
        right: 8px;       
        content: "\3e";
      }
    }
  }
}

.option-info {
  h2 { font-size: 44px; }
  .left-col { padding: 0; >div { margin-bottom: 25px; } p { margin: 0; } }
  .right-col {
    padding: 0;
    text-align: right;
    img { max-width: 100%; padding: 5px; border: 1px solid #e4e4e4; }
    @media screen and (max-width: @screen-mobile) {
      margin-top: 30px;
      text-align: center;
    }
  }
}

.options-box {
  h2 { font-size: 44px; }
}

.options-table {
  th {    
    padding: 20px 0;
    font-size: 1.2em;
    text-align: left;
    &:first-child { text-align: left; }
    @media screen and (max-width: @screen-mobile) {
      padding: 20px 0 5px;
      font-size: 1em;
      text-align: left;
      &:first-child { width: 52%; }
    }
  }
  td {
    padding: 3px 0;
    font-size: 14px;
    text-align: left;
    &:first-child { font-size: 15px; text-align: left; }
    @media screen and (max-width: @screen-mobile) {
      position: relative;
      padding-bottom: 5px;
      font-size: 12px;
      text-align: left;
      &:first-child {
        padding: 10px 36px 10px 0;
        z-index: 3;
        font-size: 12px; 
        line-height: 1.3em;
      }
    }
  }

  .option-row {
    @media screen and (max-width: @screen-mobile) {
      &.active {
        //.loc-title { color: #fff !important; }
      }
    }
  }

  .option-item {
    position: relative;
    color: inherit;
    &.selected, &:hover {
      padding: 2px 8px;
      color: #fff;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      text-decoration: none !important;
      &.green { background-color: #1a7d58; }
      &.orange { background-color: #ffb03b; }
      &.blue { background-color: #19b0cc; }

      &:before {
        display: none;        
      }
    }
    @media screen and (max-width: @screen-mobile) {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      padding-left: 125% !important;
      padding-right: 0 !important;
      width: 232%;
      left: -125%;
      height: 100%;
      z-index: 5;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important;
      &.selected {
        padding: 0;
        z-index: 1;
      } 
      &:before { margin-top: 12px!important; }
      span { .inline-block; padding: 10px 10px 10px 0; }
    }
  }


  .mark {
    padding: 0 1px;
    line-height: 1.3em;
    vertical-align: middle;
    &:before {
      .inline-block;
      width: 10px;
      height: 10px;
      margin: -2px 4px 0 0;
      vertical-align: middle;
      content: "";
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;  
      @media screen and (max-width: @screen-mobile) { margin-left: -18px; margin-right: 8px; }  
    }
    &.green:before { background-color: #1a7d58; }
    &.orange:before { background-color: #ffb03b; }
    &.blue:before { background-color: #19b0cc; }

  }

  @media screen and (max-width: @screen-mobile) {
    .del-2, .del-3, .del-4 { display: none; }
  } 

  @media screen and (max-width: 1200px) {
    .del-4 { display: none; }
  } 

  @media screen and (max-width: 980px) {
    .del-3 { display: none; }
  } 

}


.map { 
  .left-col { 
    padding-left: 0; 
    img { max-width: 100%; } 
    @media screen and (max-width: @screen-mobile) {
      margin-bottom: 25px;
      padding: 0;     
    }
  }
  .right-col { 
    font-size: 1.1em; 
    div { margin-bottom: 10px; } 
    @media screen and (max-width: @screen-mobile) {
      padding: 0;
    }
  } 
}

.legend-mark {
  margin-left: 20px;
  line-height: 1em;
  vertical-align: middle;
  font-family: @default-font;
  font-size: 15px;
  text-transform: none;
  &:before {
    .inline-block;
    width: 30px;
    height: 20px;
    margin: -2px 8px 0 0;
    vertical-align: middle;
    content: "";
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;    
  }
  &.green:before { background-color: #1a7d58; }
  &.orange:before { background-color: #ffb03b; }
  &.blue:before { background-color: #19b0cc; }

  @media screen and (max-width: @screen-mobile) {
    display: block;
    margin: 0 0 12px 0;
    text-align: left;
    &:before { height: 16px; }
    &:first-child { margin-top: 25px; }
  } 
}


.steps { 
  .row { 
    padding: 15px 0; 
    @media screen and (max-width: @screen-mobile) { padding-top: 0; }
  } 
}
.step-title {
  padding-left: 20px;
  font-family: @heading-font;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 50px;
  @media screen and (max-width: @screen-mobile) { font-size: 2.5em; text-align: center; } 
}


.order-products-list {
  h2 { margin: 0 0 0.5em; font-size: 2.2em; text-transform: uppercase; }
  img { max-width: 100%; }
  p { margin-bottom: 0.4em; line-height: 1.3em; }
  .row { margin: 30px 0; }
  .pic { padding-left: 0; }
  .price { text-transform: uppercase; font-size: 13px; }
  .quantity {
    input {
      width: 80px;
      padding: 10px 5px;
      font-size: 1.5em;
      text-align: center;
      border: 2px solid #c5c5c5;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
  }
  .total { .red-text { font-size: 1.6em; } }
  @media screen and (max-width: @screen-mobile) {
    margin-bottom: 0 !important;
    >h1 {
      border-bottom: 2px solid #ccc;
      padding-bottom: 10px;
    }
    .row { margin: 60px 0; }
    .pic { margin-bottom: 20px; padding: 0; text-align: center; }
    .product-title {
      h2 { text-align: center; }
    }
    .price { margin-bottom: 20px; }
    .total >span { font-size: 1.7em; }
  }
}

.order-confirm {
  @media screen and (max-width: @screen-mobile) {
    p { text-align: left !important; font-size: 1.1em; }
    h2 { font-size: 2.4em; }
    .product-title { h2 { text-align: center; } }
    .quantity >span, .total >span { font-size: 1.7em; }
    .submit-buttons-right {
      margin-top: 20px;
      text-align: center;
    }
  }
}


.register-form {
  .right-col {
    .row:first-child { margin-bottom: 40px; }
    .col-sm-4 { padding-left: 0;  }
  } 
  .form-group { width: 70%; }
  .map { overflow: hidden; img { max-width: 180%; margin: -5% 0 0 -40%; } }
  @media screen and (max-width: @screen-mobile) {
    .right-col {
      .inner { position: absolute; height: 450px; width: 100%; }
      .map { position: absolute; bottom: 0; }
      .fields { padding-bottom: 255px; }
      .pickup-mobile {
        label { text-align: center; }
        .form-control { width: 70%; margin: 12px auto 20px; }
      }
      span.note { font-size: 11px; }
    }
    .submit-buttons { text-align: center; }
  }
}

.submit-buttons {
  .login-link { position: relative; top: -7px; left: 10px; }
}

.login-form {
  .form-group { width: 70%; }
}

.contact-form {
  .row { margin: 0 -15px; }
  .button { margin-top: 0 !important; }
  textarea { min-height: 160px; }
}

.form {
  .left-col { padding-left: 0; }
  label {
    display: block;
    font-weight: normal;
  }
  input[type=text], input[type=email], input[type=password], textarea {
    padding: 5px 7px;
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid #c5c5c5;
  }
  @media screen and (max-width: @screen-mobile) {
    .left-col, .right-col { padding: 0; }
    .form-group { width: 100%; }
  }
}

sup { top: 0; font-size: 1em !important; }



.quote {
  font-size: 26px;
  text-align: center;
  font-weight: 600;
  padding: 0;
  margin-bottom: 100px;
}

.about-things {
  >h1 { margin-bottom: 1em; }
  h2 {
    .sub-heading-font;  
    margin-top: 0;  
    @media screen and (max-width: @screen-mobile) {
      text-align: center;
      line-height: 1.2em;
      font-size: 1.8em;
    }
  }
  .text {
    display: table;
    min-height: 250px;
    .inner { 
      display: table-cell; 
      vertical-align: top; 
      @media screen and (max-width: @screen-mobile) { padding-top: 0 !important; }
    }
  }
  .row {
    margin-bottom: 50px;
  }
  .thing-pic {
    @media screen and (max-width: @screen-mobile) { display: none; }
  }

}
.about-content-wrap {
  padding-top: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  .clearfix;
}

.circle {
  display: table;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  text-align: center;
  font-size: 36px;
  color: #fff;
  font-family: @heading-font;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  .inner { display: table-cell; vertical-align: middle; }
  p { margin-bottom: 0; }
  p+p { margin-top: 18px; }
  &.black { background: url(../../img/header-bg.gif); }
}


.thank-you {
  text-align: center;
  .map {
    margin: 40px 0;
    img { max-width: 60%; padding: 5px; border: 1px solid #e4e4e4; }    
  }
  .location {   
    p { margin-bottom: 0; }   
  }
  .total { margin: 50px 0 100px; font-weight: bold; font-size: 1.7em; }
  @media screen and (max-width: @screen-mobile) {
    .map { img { max-width: 100%; padding: 0; border: none; } }
    .location { margin: 20px 0; p { margin-bottom: 8px; } }
    .total { margin: 40px 0; span { display: block; margin-top: 20px; font-size: 32px; } }
  }
}


ul.menu {
  .nav;
  display: inline-block;
  li {
    display: inline-block;
    margin: 0 30px 0 0;
    &:hover { >.subnav { display: block; } }

    @media screen and (max-width: 940px) {
      margin-right: 20px;
    }
  }
}


.the-icons {
  font-size: 25px;
  line-height: 50px;
  float: left;
  width: 50px;
  height: 50px;
  text-align: center;
}
.i-name, {
  display: none;
}
.i-code {
  display: none;
}
.line {
  .set-default;
  padding: 60px 0 50px;
  &.top {
    background: #fcfcfc;
    border-top: solid 1px #cfcfcf;
    border-bottom: solid 1px #cfcfcf;
    padding: 70px 0 20px;
    .title {
      color: #b5b5b5;
    }
  }
  &.colored {
    background: #ededed;
    .clients {
      margin: 50px 0 0;
    }
  }
  &.grey {
    background: #ededed;
    margin-top: 40px;
    h1 {
      text-align: center;
      .set-font("Open Sans", 45px, 700, 48px);
      color: #d2d2d2;
      margin-bottom: 100px;
      margin-top: 0;
    }
  }

}
.process {
  .set-default;
  text-align: center;
  margin-bottom: 40px;
  h3 {
    .set-font("Open Sans", 18px, 600);
    color: @oldal-black;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .content {
    .set-font("Open Sans", 16px, 300, 26px);
    color: #a1a1a1;
  }
}
.inner-container {
  .set-default;
  background: white;
  padding: 60px 50px 20px;
  .action-call {
    &.red {
      padding: 60px 80px;
      h2 {
        font-size: 30px;
        line-height: 50px;
      }
    }
  }
}
.title {
  float: left;
  .set-font("Open Sans", 45px, 700, 48px);
  color: #dddddd;
  margin-bottom: 40px;
  .current-page {
    margin: 15px 0 0;
    padding: 0;
    list-style: none;
    float: left;
    .set-font("Open Sans", 12px, 600, 32px);
    color: #b5b5b5;
    width: 100%;
    li {
      float: left;
      margin-right: 8px;
    }
  }
}
.title-content {
  .set-font("Open Sans", 18px, 300, 32px);
  color: #aaaaaa;
  margin-bottom: 40px;
  .contact-details {
    .set-font("Open Sans", 18px, 700, 32px);
    color: @oldal-black;
  }
  &.less-margin {
    margin-bottom: 0;
  }
  .input-group {
    margin-right: 40px;
    margin-top: 30px;
    .form-control {
      background: #eaeaea;
      .set-font("Open Sans", 14px, 400, 20px);
      color: #747474;
      border: 0;
      .box-shadow(none);
      height: 50px;
      .border-radius(0);
      &.focus {
        border: none;
        .box-shadow(none);
      }
    }
    .btn-default {
      background: #eaeaea;
      height: 50px;
      width: 50px;
      padding: 0;
    }
  }
  .btn-primary {
    width: 120px;
    height: 50px;
    text-transform: uppercase;
    padding: 0;
    margin-top: 30px;
    .oldal-icon {
      color: white;
    }
  }
}
.presentation {
  .set-default;
  margin: 70px 0 30px;
  figure {
    .set-default;
    img {
      width: 100%;
      height: auto;
    }
  }
  h3 {
    .set-default;
    margin: 60px 0 30px;
    .set-font("Open Sans", 30px, 700, 32px);
    color: @oldal-black;
    text-transform: uppercase;
  }
  .content {
    .set-default;
    margin-bottom: 30px;
    .set-font("Open Sans", 15px, 400, 27px);
    color: #a0a0a0;
  }
  .btn-default.btn-presentation {
    .border-radius(5px);
    background: #e5e5e5;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: @oldal-black;
    text-transform: uppercase;
  }
}
.contact-container {
  .set-default;
  margin-top: -50px;
  margin-bottom: 100px;
  .form-control {
    padding: 15px;
    font-weight: 400;
    margin-bottom: 20px;
  }
}
.map-container {
  .set-default;
}
.section-title {
  .set-default;
  padding: 30px 0;
  h1 {
    .set-default;
    text-align: center;
    .set-font("Open Sans", 23px, 700, 34px);
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
  }
  hr {
    margin: 0 auto;
    width: 110px;
    border-top: solid 2px #d3d3d3;
  }
}
.products {
  .set-default;
  margin-bottom: 20px;
}
.product {
  .set-default;
  text-align: center;
  figure {
    .set-default;
    img {
      width: 100%;
      height: auto;
    }
    position: relative;
    &:hover {
      .overlay {
        .opacity(1);
      }
    }
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      text-align: center;
      .opacity(0);
      .transition(~"all .4s ease-in-out");
      .overlay-info {
        text-align: center;
        border: solid 15px #efefef;
        width: 100%;
        height: 100%;
        z-index: 3;
        position: absolute;
        top: 0;
        left: 0;
        display: table;
        .inner {
          display: table-cell;
          vertical-align: middle;
        }
        .buy {
          .set-font("Open Sans", 13px, 700, 20px);
          text-transform: uppercase;
          color: @oldal-black;
          .set-default;
        }
        hr {
          width: 15px;
          border-top: solid 1px #bebebc;
          margin: 55px auto 20px;
        }
        .compare {
          .set-font("Open Sans", 13px, 700, 20px);
          text-transform: uppercase;
          color: #999999;
          .set-default;
        }
      }
      .background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #efefef;
        .opacity(.7);
        z-index: 2;
      }
    }
  }
  .product-name {
    .set-default;
    margin-top: 10px;
    .set-font("Open Sans", 16px, 700, 25px);
    color: @oldal-black;
    text-transform: uppercase;
  }
  .product-price {
    .set-default;
    .set-font("Open Sans", 16px, 700, 25px);
    color: @oldal-black;
    text-transform: uppercase;
  }
  .category {
    .set-default;
    .set-font("Open Sans", 12px, 500, 25px);
    color: #a8a8a8;
    text-transform: uppercase;
  }
}
.product-list {
  .set-default;
  .no-items {
    .set-default;
    .set-font("Open Sans", 18px, 400);
    color: @oldal-black;
    text-transform: uppercase;
    margin-bottom: 45px;
  }
  .sort {
    float: left;
    margin-bottom: 40px;
    .text {
      .set-font("Open Sans", 12px, 400);
      color: @oldal-black;
      text-transform: uppercase;
      float: left;
    }
    .btn-group {
      float: left;
      .btn {
        .set-font("Open Sans", 12px, 700);
        color: @oldal-black;
        text-transform: uppercase;
        background: transparent;
        padding: 0;
        margin-left: 5px;
        &:hover {
          .opacity(1);
        }
        &:focus {
          .box-shadow(none);
        }
        .oldal-icon {
          font-size: 14px;
          line-height: 14px;
          height: 14px;
          width: 20px;
        }
      }
      &.open {
        .dropdown-toggle {
          .box-shadow(none);
        }
      }
      .dropdown-menu {
        .box-shadow(none);
        .border-radius(0);
        border: solid 1px @oldal-black;
        a {
          .set-font("Open Sans", 12px, 700);
          color: @oldal-black;
          text-transform: uppercase;
        }
      }
    }
  }
  .pagination {
    float: right;
    margin: 0 0 40px;
    a {
      border: none;
      .set-font("Open Sans", 12px, 400);
      color: @oldal-black;
      padding: 6px 4px;
      text-transform: uppercase;
      .oldal-icon {
        width: 14px;
        height: 16px;
        font-size: 14px;
        line-height: 14px;
        i {
          width: auto;
        }
      }
      &:hover {
        background: transparent;
        color: @oldal-black;
      }
      &.last {
        margin-left: 10px;
      }
    }
    li.active {
      a {
        font-weight: 700;
        background: transparent;
      }
    }
  }
}
.categories {
  .set-default;
  h3 {
    .set-font("Open Sans", 19px, 400, 28px);
    color: @oldal-black;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 40px;
    margin-top: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    .set-default;
  }
  a {
    .set-font("Open Sans", 19px, 700, 35px);
    color: @oldal-black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.5px;
  }
}
.pricing-box {
  .set-default;
  .box-shadow(none);
  .border-radius(0);
  text-align: center;
  border: none;
  &.suggested {
    .panel-heading {
      background: @oldal-red;
    }
    .price {
      color: @oldal-red;
    }
    .panel-heading {
      color: white;
    }
  }
  .panel-heading {
    background: #d7d7d7;
    border: none;
    .set-font("Open Sans", 28px, 700);
    color: #9f9f9f;
    text-transform: uppercase;
    padding: 30px 0;
  }
  .panel-body {
    background: #f3f3f3;
    border: none;
    padding: 30px 0;
  }
  .price {
    display: inline-block;
    color: @oldal-black;
    sup {
      .set-font("Open Sans", 45px, 700, 70px);
      float: left;
    }
    .value {
      .set-font("Open Sans", 90px, 700);
      float: left;
    }
    .per {
      .set-font("Open Sans", 20px, 700, 145px);
      float: left;
    }
  }
  .features {
    margin: -20px 0 40px;
    padding: 0;
    list-style: none;
    .set-font("Open Sans", 16px, 400, 50px);
    color: #666666;
  }
}
.clients {
  .set-default;
  display: inline-block;
  padding: 0;
  margin: 0 0 50px;
  list-style: none;
  li {
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 30px;
    vertical-align: middle;
    figure {
      float: left;
      width: auto;
      a {
        .set-default;
      }
    }
  }
}
.boxes {
  .set-default;
  margin-bottom: 60px;
}
.box {
  .set-default;
  header {
    display: inline-block;
  }
  .title {
    .set-font("Open Sans", 22px, 700, 28px);
    color: @oldal-black;
    margin-bottom: 15px;
    margin-top: 10px;
    &.sm-title {
      .set-font("Open Sans", 18px, 700, 28px);
    }
  }
  .content {
    .set-default;
    .set-font("Open Sans", 15px, 400, 26px);
    color: #666666;
    &.padded {
      padding-left: 35px;
    }
    &.lg-padded {
      padding-left: 90px;
      margin-top: -30px;
    }
  }
}
form {
  .form-control {
    .set-font("Open Sans", 14px, 700, 19px);
    color: #a8a8a8;
    padding: 10px;
    .box-shadow(none);
    outline: none;
    border: solid 1px #cccccc;
    &:focus {
      outline: none;
      .box-shadow(none);
      border: solid 1px #cccccc;
    }
  }
  input.form-control {
    margin-bottom: 40px;
    height: 40px;
    .set-default;
  }
  textarea.form-control {
    .set-default;
    height: 120px;
    resize: none;
  }
  select {
    margin-bottom: 30px;
  }
}
.share {
  .set-default;
  .set-font("Open Sans", 13px, 700);
  color: black;
  ul {
    margin: 0 0 -8px 20px;
    padding: 0;
    list-style: none;
    display: inline-block;
  }
  li {
    float: left;
    margin-right: 15px;
  }
}

.google-maps {
  .set-default;
  position: relative;
  padding-bottom: 44.25%;
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
  }
}

.toggles {
  .set-default;
  .panel {
    border: none;
    .border-radius(0);
    .box-shadow(none);
  }
  .panel-heading {
    position: relative;
    padding-left: 35px;
    background: white;
    .border-radius(0);
    border: none;
    border-bottom: solid 1px #e5e5e5;
    .panel-title {
      .set-font("Open Sans", 18px, 700, 24px);
      color: @oldal-black;
      text-transform: uppercase;
      a {
        .entyp-plus-squared-1 {
          display: none;
        }
        .entyp-minus-squared-1 {
          display: block;
        }
        &.collapsed {
          .entyp-plus-squared-1 {
            display: block;
          }
          .entyp-minus-squared-1 {
            display: none;
          }
        }
      }
    }
    i {
      position: absolute;
      left: 0;
      margin-left: -8px;
      font-size: 23px;
    }
  }
  .panel-heading+.panel-collapse .panel-body {
    border-top: none;
    border-bottom: solid 1px #e5e5e5;
    .set-font("Open Sans", 15px, 400, 26px);
    color: #666666;
    padding: 30px;
  }
}
.btn {
  .set-font("Open Sans", 14px, 700, 19px);
  color: white;
  border: none;
  .border-radius(3px);
  padding: 15px 35px;
  .transition(~"all .4s ease-in-out");
  &:focus {
    outline: none;
    color: white;
  }
  &:hover {
    color: white;
    .box-shadow(none);
    .opacity(0.8);
  }
  &.btn-primary {
    background: @oldal-black;
  }
  &.btn-default {
    background: @oldal-red;
  }
  &.btn-control {
    background: white;
    border: solid 1px #c4c4c4;
    color: #737373;
    font-weight: 300;
    &:hover {
      background: @oldal-red;
      color: white;
      border: solid 1px @oldal-red;
    }
  }
  &.btn-info {
    background: #24c1dd;
  }
  &.green {
    background: #30cab5;
  }
  &.lightblue {
    background: #7bc6e3;
  }
  &.orange {
    background: #e65c3c;
  }
  &.darkgrey {
    background: @oldal-grey;
  }
  &.grey {
    background: #5f666c;
  }
  &.brown {
    background: #413533;
  }
  &.mediumgrey {
    background: #cccccc;
  }
  &.darkblue {
    background: #3e4b5f;
  }
  &.lightgrey {
    background: @oldal-mediumgrey;
  }
  &.lightergrey {
    background: #dfe0e2;
  }
  &.btn-lg {
    .set-font("Open Sans", 18px, 700, 24px);
    padding: 20px 60px;
    i {
      margin-right: 20px;
      font-size: 25px;
    }
  }
  &.btn-sm {
    .set-font("Open Sans", 10px, 700, 15px);
    padding: 10px 25px;
    i {
      margin-right: 5px;
      font-size: 15px;
    }
  }
  &.icon {
    padding: 10px 20px;
    i {
      color: white;
      vertical-align: middle;
      margin-right: 10px;
      font-size: 20px;
    }
    &.btn-sm {
      padding: 7px 10px;
    }
    &.btn-lg{
      padding: 13px 22px;
    }
  }
}
.controls {
  float: right;
  margin-bottom: 100px;
  button {
    float: left;
    margin-right: 10px;
  }
}



#fixed-header.navbar {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  background: none !important;
  border: none;

  .logo-box {
    position: absolute;
    left: 0;
    height: 103px;
    overflow: hidden;
    min-width: 100px;
  }
  .logo {
    margin: 10px 0;
    position: relative;
  }
}

.front {
  @media screen and (min-width: (@screen-mobile + 1)) {
    #fixed-header.navbar {
      display: block;
      height: 0;
    }

    #header {
      .logo-box, .login-order-wrap {
        opacity: 0;
      }
      
    }
  }
}

.navbar {
  position: absolute;
  width: 100%;
  height: 103px;
  z-index: 9;
  border-bottom: 2px solid white;


  .front & {
    top: 395px;
  }
  
  .border-radius(0);
  //.set-default;
  margin-bottom: 0;
  background: url(../../img/header-bg.gif) !important;
  .logo {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 10px 0;
    z-index: 9;
    @media screen and (max-width: @screen-mobile) { display: block !important; width: 42px; height: 42px; margin: 3px 10px; } 
  }
  .logo-box { 
    position: absolute;
    left: 0;
    height: 103px;
    overflow: hidden;
    min-width: 100px;
    @media screen and (max-width: @screen-mobile) {
      position: relative;
      height: auto;
    }
  }
  
  .menu-box {   
    // width: 90%;
    //@media screen and (min-width: (@screen-mobile + 1)) { display: block; }
    @media screen and (max-width: @screen-mobile) { 
      position: fixed;
      top: 50px;
      left: 0;
      right: 0;
      bottom: 0;
      overflow-y: scroll;
      background: url(../../img/header-bg.gif);
      border-top: 1px solid #303030; 
    }
  }
  .menu-wrap {
    float: right;

    @media screen and (max-width: @screen-mobile) {
      float: none;
    }
  }
  .login-order-wrap {
    //width: 250px;
    float: right;
    height: 1px;
  }
  .menu {   
    position: relative;
    margin-top: 40px;
    font-size: 25px;
    padding-left: 0;
    z-index: 9;
    @media screen and (max-width: @screen-mobile) {
      width: 100%;
      margin-top: 25px;
      li {
        display: block;
        text-align: center;
        margin-bottom: 27px !important;
        margin-right: 0 !important;
      }
    } 
  }
  a.button {
    font-size: 25px;
    margin-left: 30px;

    @media screen and (max-width: 940px) {
      margin-left: 10px;
    }
  }

  .navbar-header {
    float: none;
  }

  &.sticky {
    position: fixed;
    top: 0;
  }
  .login-order {      
    width: auto;
    height: 103px;  
    z-index: 9;
    white-space: nowrap;

    .sticky-show {
      margin-top: 29px; 
    }

    .front & {
      // position: fixed;
      top: 0;   
    }

    a { color: #fff !important; }
    @media screen and (max-width: @screen-mobile) { 
      margin-top: 20px;
      padding: 0 20px;
      height: auto; 
      text-align: center;

      a { display: block; text-align: center; margin: 0 !important; line-height: 2; }
      ul { margin: 0; padding: 0; list-style: none; }
      li { 
        color: #fff;
        text-align: center; 
        margin-bottom: 20px;
      }
      .button { margin: 0; .inline-block; line-height: 1; }
    } 
  }
  .sticky-show { 
    //position: absolute; transition: all 0.3s ease; 
  }

  
  &.navbar-inverse {
    background: @oldal-black;
    border-bottom: none;
    .main-nav>li {
      position: relative;
      &:hover {
        &>ul {
          overflow: visible;
          height: auto;
          .opacity(.95);
          padding: 18px 0px 20px;
        }
      }
      &.active {
        &>a {
          background: transparent;
          font-weight: bold;
          &:hover {
            color: @oldal-black;
          }
        }
      }
      &>a {
        color: @oldal-black;
        text-transform: uppercase;
        .transition(~"all .4s ease-in-out");
        padding-top: 30px;
        padding-bottom: 25px;
        &:hover {
          color: @oldal-red;
        }
      }
      ul {
        position: absolute;
        min-width: 170px;
        background: white;
        border-bottom: solid 1px #c0c0c0;
        margin: 0;
        list-style: none;
        padding: 0;
        text-transform: uppercase;
        height: 0;
        .transition(~"all .2s ease-in-out");
        overflow: hidden;
        .opacity(0);
        .box-shadow(1px, 1px, 10px, rgba(0,0,0,0.1));
        li {
          .set-default;
          position: relative;
          padding: 5px 20px;
          &:hover {
            &>a {
              color: @oldal-red;
            }
          }
          &.active {
            a {
              color: @oldal-red;
            }
          }
          a {
            .set-default;
            color: @oldal-black;
            white-space: nowrap;
            text-transform: none;
            padding: 2px 0;
          }
        }
      }
      &>ul {
        top: 100%;
        border-top: solid 2px @oldal-mediumgrey;
        z-index: 300;
        &>li {
          &:hover {
            &>ul {
              overflow: visible;
              height: auto;
              .opacity(.95);
              padding: 18px 0px 20px;
            }
          }
          ul {
            padding: 10px 0px 20px;
            left: 100%;
            top: -10px;
            li {
              &:hover {
                &>ul {
                  overflow: visible;
                  height: auto;
                  .opacity(.95);
                  padding: 18px 0px 20px;
                }
              }
            }
          }
        }
      }
      .dropdown-toggle {
        display: none;
      }

    }
    .social-nav>li {
      &>a {
        color: white;
        .transition(~"all .4s ease-in-out");
        font-size: 20px;
        line-height: 20px;
        padding: 15px 7px;
        &:hover {
          color: @oldal-red;
        }
      }
    }
    .open > a:focus { background-color: transparent; }
  }
  .normal-color {
    .set-default;
    &.opacity {
      .opacity(0);
    }
    &.with-slider {
      .navbar-header {
        position: relative;
        z-index: 2;
      }
      .social-nav {
        position: relative;
        z-index: 2;
      }
    }
  }
  .inverse-color {
    .set-default;
    background: white;
    &.sticky {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 200;
      .box-shadow(0px 2px 5px rgba(0, 0, 0, 0.15));
    }
  }
  .navbar-brand {
    height: auto;
    margin-left: 0;
  }
  .header-search {
    padding-top: 20px;
    .form-control {
      //      border: none;
      height: 42px;
      .box-shadow(none);
    }
  .input-group-btn {
    .btn-default {
      //        border: none;
      font-size: 20px;
      color: @oldal-grey;
      background: transparent;
      padding: 10px;
      border: solid 1px #ccc;
      border-left: none;
      &:hover {
        background: transparent;
      }
    }
  }
}
.search-trigger {
  background: transparent;
  color: #cccccc;
  margin-top: 14px;
  font-size: 22px;
  .transition(none);
}
.search-wrap {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background: rgba(41,41,41,0.98);
  .opacity(.95);
  padding: 30px 0;
  z-index: 200;
  &.sticky {
    position: fixed;
    left: 0;
  }
  .form-control {
    margin-bottom: 0;
    height: 80px;
    font-size: 60px;
    line-height: 80px;
    color: white;
    background: transparent;
    border: none;
    font-weight: 300 !important;
    padding-top: 0;
    padding-bottom: 0;
  }
  input[type="submit"] {
    display: none;
  }
}
.header-slider {
  .set-default;
  margin-top: -51px;
  position: relative;
  z-index: 1;
  .tp-rightarrow.default {
    background: transparent;
    position: relative;
    z-index: 20;
    &:after {
      font-family: "entypo";
      content : '\e875';
      position: absolute;
      width: 100%;
      height: 100%;
      line-height: 100%;
      color: white;
      font-size: 30px;
      text-align: center;
    }
  }
  .tp-leftarrow.default {
    background: transparent;
    position: relative;
    z-index: 20;
    &:after {
      font-family: "entypo";
      content : '\e874';
      position: absolute;
      width: 100%;
      height: 100%;
      line-height: 100%;
      color: white;
      font-size: 30px;
      text-align: center;
    }
  }
}

@media screen and (max-width: @screen-mobile) {
  position: fixed !important;
  top: 0 !important;
  height: auto;
  .navbar-toggle {
    display: block;
    margin-right: 0;
    margin-top: 16px;
    padding: 0;
    border-radius: 0;
    border: none;
    z-index: 9;
    .icon-bar { width: 20px; height: 3px; }
  }
} 

}



.mobile-subnav {
  background-color: rgba(0,0,0,0.3);
  margin: 20px 0;
  padding-bottom: 5px;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.1);
  h2 {
    font-size: 1.5em;
    color: @farm-green;
    font-weight: bold;
  }
  ul { 
    margin: 0; 
    padding: 0; 
    li { margin-bottom: 15px !important; }    
  }
}


.statement {
  .set-default;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 130px 170px 90px 170px;
  &.red {
    background-image: url('../content/statement-background.jpg');
    margin-bottom: 40px;
    margin-top: -50px;
    .btn-statement {
      background: transparent;
      border: solid 2px white;
      color: #ededed;
      .set-font("Open Sans", 14px, 400, 24px);
    }
  }
  &.grey {
    background: #ededed;
    padding: 70px 0;
    margin-bottom: 40px;
    h2 {
      .set-default;
      color: @oldal-black;
      .set-font("Open Sans", 42px, 700, 44px);
      margin-bottom: 40px;
      padding: 0 130px;
    }
    .content {
      .set-default;
      color: #828282;
      .set-font("Open Sans", 20px, 400, 29px);
      margin-bottom: 50px;
      padding: 0 130px;
    }
    .btn-statement {
      font-weight: 300;
      .border-radius(3px);
      padding: 15px 25px;
      &.btn-blue {
        background: #008ce7;
      }
      &.btn-green {
        background: #5cd117;
      }
    }
  }
  &.black {
    background-image: url('../content/statement-background-2.jpg');
    .btn-statement {
      background: white;
      color: @oldal-black;
      .set-font("Open Sans", 14px, 700, 24px);
    }
  }
  &.black-2 {
    background-image: url('../content/statement-background-4.jpg');
    .btn-statement {
      background: transparent;
      color: white;
      border: solid 1px white;
      .set-font("Open Sans", 14px, 400, 24px);
    }
  }
  &.blue {
    background-image: url('../content/statement-background-3.jpg');
    h2 {
      color: @oldal-black;
    }
    .btn-statement {
      background: @oldal-black;
      color: white;
      .set-font("Open Sans", 14px, 300, 24px);
    }
  }
  h2 {
    .set-font("Open Sans", 22px, 400, 38px);
    color: white;
    margin-bottom: 45px;
    margin-top: 0;
  }
  &.simple {
    margin-bottom: 0;
    &.red {
      background: #f8434a;
    }
    &.blue {
      background: #008ce7;
    }
    &.green {
      background: #5cd117;
    }
    text-align: center;
    .oldal-icon {
      margin-bottom: 30px;
    }
    h2 {
      .set-font("Open Sans", 20px, 400, 24px);
      color: white;
      margin-bottom: 40px;
      margin-top: 0;
      font-style: italic;
    }
    .date {
      .set-font("Open Sans", 14px, 400, 24px);
      color: white;
      font-style: italic;
    }
  }
  .btn-statement {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    .border-radius(1px);
    padding: 8px 30px;
    &:hover {
      .opacity(0.8);
    }
  }
}

.btn-group {
  &.default-group {
    .set-default;
    margin-top: 10px;
    margin-bottom: 60px;
    .btn-default {
      background: white;
      border: solid 1px #c4c4c4;
      color: #737373;
      font-weight: 400;
      padding: 15px;
      &.active, &:hover, &:focus {
        .box-shadow(none);
        background: #f8434a;
        border: solid 1px #f8434a;
        color: #ffffff;
        .opacity(1);
      }
    }
  }
}
.main-footer {
  background: #fafafa url(../../img/footer-bg.gif);
  padding: 70px 0 40px;
  .set-default;
  position: relative !important;
  left: 0;
  bottom: 0;
  z-index: -1;
  
  .contact-box {
    font-size: 16px;
    .icon-phone {
      margin-bottom: 8px;
      &:before { margin-right: 5px; }
    }
    .icon-email {
      margin-bottom: 8px;
      a { margin-left: 21px; }
      &:before { position: absolute; margin-top: 2px; }
    }
    .icon-facebook {
      margin-bottom: 8px;
      &:before { margin-right: 5px; }
    }
    a { color: inherit; }
  }

  @media screen and (max-width: @screen-mobile) {
    .col-sm-3 { display: none; }
    .col-sm-2 { img { display: none; } }
    .footer-info { text-align: right; }
  } 

}
.footer-widget {
  .set-default;
  margin-bottom: 30px;
  h2 {
    font-family: @heading-font;
    font-size: 30px;
    color: #43484d;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-top: 0;
  }
  


  .widget-content {
    .set-default;
    address {
      color: @oldal-grey;
      .set-font(@default-font, 13px, 400, 18px);
      margin-bottom: 5px;
    }

    ul {
      list-style-type: none;
      padding-left: 0;
      font-size: 15px;
      line-height: 1.5;
      li {
        a {
          color: #43484d;
        }
      }
    }
  }
  .instagram {
    .row {
      margin-left: -3px;
      margin-right: -3px;
    }
    .col-sm-3 {
      padding-left: 3px;
      padding-right: 3px;
    }
    a {
      .set-default;
      margin-bottom: 6px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .latest-post {
    ul {
      .set-default;
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        .set-default;
        margin-top: 20px;
        &:first-child {
          margin-top: 0;
        }
      }
    }
    h3 {
      .set-font(@default-font, 14px, 700, 26px);
      color: @oldal-black;
      margin: 0;
      a {
        color: @oldal-black;
      }
    }
    p {
      color: @oldal-grey;
      .set-font(@default-font, 13px, 400, 18px);
      margin-bottom: 5px;
    }
    .date {
      color: @oldal-black;
      .set-font(@default-font, 13px, 400, 18px);
      font-style: italic;
    }
  }
}
.footer-info {
  margin-top: 15px;
  font-size: 12px;
  text-align: left;
  .set-default;
  p {
    color: @oldal-grey;
    .set-font(@default-font, 14px, 400, 18px);
    margin-bottom: 5px;
  }
}
.footer-social {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-bottom: 65px;
  list-style: none;
  li {
    float: left;
    &:last-child {
      a {
        padding-right: 0;
      }
    }
    a {
      font-size: 20px;
      color: #c8c8c8;
      line-height: 20px;
      padding: 5px 5px;
    }
  }
}

.slider-controls {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -40px;
  z-index: 190;
  button {
    background: transparent;
    border: none;
    font-size: 30px;
    line-height: 30px;
    color: @oldal-mediumgrey;
    position: absolute;
    &.left {
      left: -50px;
    }
    &.right {
      right: -50px;
    }
  }
}


.testimonial {
  .set-default;
  position: relative;
  margin-bottom: 80px;
  &.embedded-author {
    i {
      float: left;
      color: @oldal-black;
      margin-right: 10px;
      font-size: 20px;
      margin-top: -2px;
    }
    .name {
      .set-font("Open Sans", 14px, 700, 22px);
      float: left;
      color: @oldal-black;
      margin-right: 10px;
    }
    .text {
      .set-default;
      margin-top: 10px;
    }
  }
  .content {
    background: #e5e5e5;
    padding: 30px;
    float: left;
    .set-font("Open Sans", 15px, 400, 26px);
    color: @oldal-black;
    &:after {
      content: "";
      position: absolute;
      border-right: 15px solid transparent;
      border-top: 15px solid #e5e5e5;
      border-left: 15px solid transparent;
      border-top-color: #e5e5e5;
      bottom: 37px;
      left: 45px;
    }
    &.no-after {
      &:after {
        border: none;
      }
    }
  }
  .author {
    margin-top: 30px;
    float: left;
    .set-font("Open Sans", 14px, 700, 22px);
    .name {
      float: left;
      color: @oldal-black;
    }
    .position {
      float: left;
      margin-left: 10px;
      color: #a3a3a3;
    }
  }
  &.highlighted {
    .content {
      color: white;
      background: @oldal-black;
      &:after {
        border-top: 15px solid @oldal-black;
        border-top-color: @oldal-black;
      }
    }
  }
}
.oldal-tooltip {
  text-decoration: none;
  &~.tooltip {
    .tooltip-inner {
      .border-radius(2px);
      padding-left: 20px;
      padding-right: 20px;
      .set-font("Open Sans", 10px, 700);
      color: white;
      text-transform: uppercase;
    }
  }
  &.red {
    color: @oldal-red;
    &~.tooltip {
      .tooltip-inner {
        background: @oldal-red;
      }
    }
  }
  &.black {
    color: @oldal-black;
    &~.tooltip {
      .tooltip-inner {
        background: @oldal-black;
      }
    }
  }
}

.tabs {
  .set-default;
  .nav-tabs {
    border-bottom: none;
    .set-font("Open Sans", 14px, 700, 22px);
    li {
      margin-bottom: 0;
      a {
        border: none;
        .border-radius(0);
        margin: 0;
      }
      &.active {
        a {
          border: none;
        }
      }
    }

  }
  .tab-pane {
    padding: 30px;
    background: @oldal-lightgrey;
    .set-font("Open Sans", 15px, 400, 26px);
    color: @oldal-black;
  }
  &.light {
    .nav-tabs {
      li {
        a {
          background: white;
          color: #a3a3a3;
          &:hover{
            background: @oldal-lightgrey;
            color: @oldal-black;
          }
        }
        &.active {
          a {
            background: @oldal-lightgrey;
            color: @oldal-black;
          }
        }
      }
    }
    .tab-pane {
      background: @oldal-lightgrey;
      color: @oldal-black;
    }
  }
  &.dark {
    .nav-tabs {
      li {
        a {
          background:  @oldal-lightgrey;
          color: #919191;
          &:hover{
            background: @oldal-black;
            color: @oldal-lightgrey;
          }
        }
        &.active {
          a {
            background: @oldal-black;
            color: @oldal-lightgrey;
          }
        }
      }
    }
    .tab-pane {
      background: @oldal-black;
      color: @oldal-lightgrey;
    }
  }
}
.button-set {
  width: 20%;
  float: left;
  button {
    float: none;
    margin-bottom: 20px;
  }
}
.icon-button-set {
  float: left;
  margin: 0 30px 60px 0;
  padding: 0;
  list-style: none;
  display: block;
  li {
    padding: 0;
    float: none;
  }
  .btn {
    margin-bottom: 15px;
  }
  .btn-sm {
    margin-bottom: 10px;
  }
  .btn-lg {
    margin-bottom: 25px;
  }
}
.action-call {
  .set-default;
  margin-bottom: 50px;
  &.grey {
    background: @oldal-lightgrey;
    padding: 40px 60px;
    h2 {
      float: left;
      margin: 0;
      .set-font("Open Sans", 28px, 700);
      color: @oldal-black;
      text-transform: uppercase;
    }
    h3 {
      float: left;
      margin: 0;
      .set-font("Open Sans", 14px, 400, 24px);
      color: @oldal-black;
    }
    button {
      float: right;
      text-transform: uppercase;
      padding: 15px 80px;
      .border-radius(3px);
    }
  }
  &.red {
    background-image: url('../content/action-call-background.jpg');
    background-size: cover;
    background-position: center;
    padding: 60px 100px;
    h2 {
      float: left;
      margin: 0;
      .set-font("Open Sans", 35px, 700, 45px);
      color: white;
    }
    button {
      float: right;
      text-transform: uppercase;
      background: white;
      .border-radius(3px);
      color: @oldal-red;
      padding: 15px 80px;
    }
    &.dark {
      background-image: url('../content/action-call-background-2.jpg');
      button {
        color: @oldal-black;
      }
    }
  }
}
.table {
  .set-default;
  border: solid 1px #e2e2e2;
  &>thead>tr>th {
    padding: 25px 40px;
    background: #e2e2e2;
    .set-font("Open Sans", 14px, 700, 24px);
    color: @oldal-black;
    border-top: none;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      border-left: 1px solid #cbcbcb;
      height: 30px;
      left: 0;
    }
    &:first-child {
      &:before {
        border-left: none;
      }
    }
  }
  &>tbody>tr>td {
    text-align: center;
    .set-font("Open Sans", 14px, 700, 45px);
    color: #666666;
    border-top: solid 1px #e2e2e2;
  }
}
.labels {
  .set-default;
  h3 {
    .set-font("Open Sans", 22px, 700, 35px);
    color: @oldal-black;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      float: none;
      margin-bottom: 10px;
    }
  }
}
.label {
  .set-font("Open Sans", 10px, 700);
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2px 5px;
  .border-radius(2px);
  &.grey {
    background: @oldal-grey;
  }
  &.black {
    background: @oldal-black;
  }
  &.lightgrey {
    background: @oldal-mediumgrey;
  }
}
.badges {
  .set-default;
  h3 {
    .set-font("Open Sans", 22px, 700, 35px);
    color: @oldal-black;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      float: none;
      margin-bottom: 10px;
    }
  }
}
.badge {
  .set-font("Open Sans", 10px, 700);
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 3px 8px;
  .border-radius(2px);
  &.yellow {
    background: #ffd64f;
  }
  &.orange {
    background: #f7941d;
  }
  &.black {
    background: @oldal-black;
  }
  &.lightblue {
    background: #30cab5;
  }
  &.red {
    background: @oldal-red;
  }
  &.blue {
    background: #24c1dd;
  }
}
.popovers{
  .set-default;
  h3 {
    .set-font("Open Sans", 22px, 700, 35px);
    color: @oldal-black;
  }
  .content {
    .set-font("Open Sans", 15px, 400, 26px);
    color: #666666;
  }
  button {
    .set-font("Open Sans", 15px, 400, 26px);
    color: @oldal-black;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
  }
}
.popover {
  .box-shadow(0 2px 2px -2px gray);
  padding: 0;
  .border-radius(2);
  border: solid 1px #bdbdbd;
  &.bottom {
    .arrow {
      border-bottom-color: #bdbdbd;
      &:after {
        border-bottom-color: #fafafa;
      }
    }
  }
  &.top {
    .arrow {
      border-top-color: #bdbdbd;
      &:after {
        border-top-color: white;
      }
    }
  }
  &.left {
    .arrow {
      border-left-color: #bdbdbd;
      &:after {
        border-left-color: white;
      }
    }
  }
  &.right {
    .arrow {
      border-right-color: #bdbdbd;
      &:after {
        border-right-color: white;
      }
    }
  }
  .popover-title {
    .border-radius(2px 2px 0 0);
    background: #fafafa;
    border-bottom: solid 1px #bdbdbd;
    .set-font("Open Sans", 14px, 700, 19px);
    color: @oldal-black;
  }
  .popover-content {
    .set-font("Open Sans", 13px, 700, 19px);
    color: #565656;
  }
}
.icon-button {
  .col-sm-6 {
    padding: 0;
  }
  .col-sm-4 {
    padding: 0;
  }
}


.older-posts {
  .set-default;
  padding: 80px 0;
  .btn-primary {
    color: #c2c2c2;
  }
}
.widgets {
  .set-default;
  margin-bottom: 60px;
}
.widget {
  .set-default;
  h3 {
    .set-default;
    .set-font("Open Sans", 16px, 700, 48px);
    color: @oldal-black;
    text-transform: uppercase;
    margin-top: 60px;
  }
  &.list {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      .set-default;
      a {
        .set-font("Open Sans", 14px, 400, 32px);
        color: @oldal-black;
        text-decoration: none;
        .set-default;
      }
    }
  }
  &.text {
    .text-content {
      .set-font("Open Sans", 14px, 400, 23px);
      color: #666666;
    }
  }
}


.simple-footer {
  .set-default;
  background: @oldal-black;
  padding: 90px 0 40px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1;
  .footer-group {
    .set-default;
    text-align: center;
    margin-bottom: 100px;
    .oldal-icon {
      margin-bottom: 15px;
      color: #838383;
    }
    .content {
      .set-font("Open Sans", 12px, 400, 25px);
      color: #838383;
    }
  }
  .oldal-icon {
    margin: 0 20px 80px 20px;
  }
  .copyright {
    .set-font("Myriad Pro", 10px, 400, 36px);
    color: #484848;
    text-transform: uppercase;
  }
}
.revolution-wrap {
  .set-default;
  overflow: hidden;
  position: relative;
  .rev-caption {
    color: white;
    width: 100%;
    h2 {
      font-size: 27px;
      line-height: 32px;
    }
    p {
      white-space: normal;
      font-size: 14px;
      line-height: 24px;
    }
    .inner {
      background: black;
      .opacity(.8);
      .set-default;
      padding: 20px;
    }
    .big-inner {
      .set-default;
      h2 {
        font-size: 50px;
        line-height: 50px;
        color: white;
        text-transform: uppercase;
        white-space: normal;
        margin-bottom: 30px;
      }
      p {
        font-size: 24px;
        line-height: 32px;
        color: white;
        margin-bottom: 30px;
      }
      a {
        color: white;
        text-transform: uppercase;
      }
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    .opacity(.5);
    z-index: 5;
  }
  &.blue-overlay {
    .overlay {
      background: #008ce7;
    }
  }
  &.green-overlay {
    .overlay {
      background: #5cd117;
    }
  }
  .btn-blue {
    background: #008ce7;
  }
  .btn-green {
    background: #5cd117;
  }
}
.fancybox-wrap {
  .fancybox-title-float-wrap {
    margin-bottom: -45px;
    .child {
      .border-radius(0);
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
    }
  }
  .oldal-fancy {
    background: @oldal-black;
    border: none;
    color: white;
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0;
  }
  .left-container {
    position: absolute;
    bottom: -45px;
    left: 10px;
    button {
      margin-right: 5px;
    }
  }
  .oldal-close {
    position: absolute;
    bottom: -45px;
    right: 10px;
  }
  .oldal-fullscreen {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
.main-wrap {
  position: relative;
  z-index: 0;
  background: white;
  .set-default;
}
.selectboxit-container {
  width: 100%;
  span {
    height: 40px;
    line-height: 40px;
  }
  .selectboxit-btn {
    width: 100%;
    background: transparent;
    .border-radius(2px);
    border: solid 1px #CCC;
    margin-bottom: 30px;
    color: #999;
    font-family: @default-font;
    &:hover {
      background: transparent;
    }
    &.selectboxit-focus {
      background: transparent;
    }
  }
  .selectboxit .selectboxit-arrow-container .selectboxit-arrow {
    margin-top: -4px;
  }
  .selectboxit-default-arrow {
    border-top: 6px solid #ccc;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
  }
  .selectboxit-text {
    color: #999;
    font-weight: bold;
  }
  .selectboxit-list .selectboxit-option-anchor {
    color: #999;
  }
  .selectboxit-options {
    .border-radius(2px);
    top: 100%;
    margin-top: -30px;
    .set-default;
    .selectboxit-option {
      .set-default;
      height: 30px;
      line-height: 30px;
      color: #999;
      &.selectboxit-focus {
        background: #efefef;
        color: #999;
        &>.selectboxit-option-anchor {
          background: #efefef;
          color: #999;
        }
      }
      &.selectboxit-selected {
        background: #efefef;
        color: #999;
        &>.selectboxit-option-anchor {
          background: #efefef;
          color: #999;
        }
      }
    }
  }
}
.isotopeContainer {
  .set-default;
}
.product-slider {
  .set-default;
  .slides {
    .set-default;
    li {
      .set-default;
      position: relative;
      .zoom-button {
        top: 0;
        right: 0;
        text-align: right;
        font-size: 16px;
        color: @oldal-grey;
        text-transform: capitalize;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
.product-details {
  .set-default;
  .product-title {
    .set-default;
    font-size: 28px;
    font-weight: bold;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  .product-price {
    .set-default;
    font-size: 48px;
    line-height: 50px;
    font-weight: 300;
    margin-bottom: 15px;
  }
  .description {
    .set-default;
    font-size: 16px;
    line-height: 20px;
    p {
      margin-bottom: 15px;
    }
    ul {
      padding-left: 22px;
    }
  }
}
.product-selectors {
  label {
    margin-bottom: 10px;
    font-weight: 400;
  }
  .selectboxit-container {
    .selectboxit-btn {
      border-color: @oldal-black;
      color: @oldal-black;
      .border-radius(5px);
    }
    .selectboxit-text {
      color: @oldal-black;
    }
    .selectboxit-default-arrow {
      border-top: 6px solid @oldal-black;
    }
    .selectboxit-list {
      border-color: @oldal-black;
    }
  }
  .btn {
    margin-top: 21px;
  }
}
.product-tabs {
  .set-default;
  .nav-pills {
    margin-bottom: 30px;
    &>li {
      margin-right: 20px;
      &.active {
        &>a {
          background: transparent;
          color: @oldal-black;
        }
      }
      &>a {
        color: @oldal-grey;
        padding: 0;
        font-size: 18px;
        line-height: 20px;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
  .tab-content {
    p {
      font-size: 16px;
      color: @oldal-grey;
      line-height: 20px;
    }
  }
}

.flexslider {
  margin: 0 !important;
  .views-field-field-image2 {
    background-size: cover;
    background-position: center;
    @media screen and (max-width: @screen-mobile) { height: 270px; }
    @media screen and (min-width: @screen-mobile) { height: 400px; }
    @media screen and (min-width: 1024px) { height: 450px; } 
  }
}

.similar-slider {
  .set-default;
  h2 {
    float: left;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    margin-top: 0;
    font-weight: bold;
  }
  .slider-controls {
    float: right;
    position: relative;
    width: auto;
    margin-top: 0;
    button {
      color: @oldal-black;
      &.right {
        right: -30px;
      }
    }
  }
  .flex-viewport {
    margin-top: 30px;
    float: left;
  }
  .slides {
    .set-default;
    li {
      .set-default;
    }
  }
  .similar-product {
    .set-default;
    figure {
      .set-default;
      margin-bottom: 15px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .name {
      .set-default;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 5px;
    }
    .price {
      .set-default;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
    }
  }
}
.overlay-general {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: @oldal-red;
  .opacity(0);
  .transition(~"all .4s ease-in-out");
  text-align: center;
  button {
    line-height: 100%;
    color: white;
    width: 100%;
    background: transparent;
    border: none;
    font-size: 60px;
    height: 100%;
    i {
      line-height: 100%;
    }
  }
}
@import "media-queries.less";
@import "isotope.less";
