#toolbar .toolbar-menu .environment-indicator-name,
#environment-indicator {
  text-align: center;
  white-space: nowrap;
  color: white;
  text-shadow: 0 -1px 1px #333333;
  font-weight: bold;
  z-index: 10;
  left: 0;
  right: 0;
}

#admin-menu #environment-indicator { float: right; left: auto; right: auto; }

#navbar-administration.navbar-oriented .navbar-tab.environment-indicator { float: right; left: auto; right: auto; }

.fixed-yes { position: fixed; }
.fixed-yes.position-bottom { bottom: 0; }
.fixed-yes.position-top { top: 0; }

div#toolbar div.toolbar-menu { padding: 5px 20px 5px 10px; }

#toolbar .toolbar-menu .environment-indicator-name, #environment-indicator .environment-indicator-name { cursor: pointer; }
#environment-indicator .environment-indicator-name { padding: 5px; }
#toolbar .toolbar-menu .environment-indicator-name { padding: 0px 12px; }
#admin-menu #environment-indicator .environment-indicator-name { padding: 3px 12px; }

#environment-indicator .gradient-bar,
#environment-indicator .environment-indicator-name,
#toolbar .environment-indicator-name-wrapper .environment-indicator-name {
  background-image: linear-gradient(bottom, rgba(207,207,207,0.3) 19%, rgba(250,250,250,0.3) 60%, rgba(255,255,255,0.3) 80%);
  background-image: -o-linear-gradient(bottom, rgba(207,207,207,0.3) 19%, rgba(250,250,250,0.3) 60%, rgba(255,255,255,0.3) 80%);
  background-image: -moz-linear-gradient(bottom, rgba(207,207,207,0.3) 19%, rgba(250,250,250,0.3) 60%, rgba(255,255,255,0.3) 80%);
  background-image: -webkit-linear-gradient(bottom, rgba(207,207,207,0.3) 19%, rgba(250,250,250,0.3) 60%, rgba(255,255,255,0.3) 80%);
  background-image: -ms-linear-gradient(bottom, rgba(207,207,207,0.3) 19%, rgba(250,250,250,0.3) 60%, rgba(255,255,255,0.3) 80%);

  background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.19, rgba(207,207,207,0.3)),
	color-stop(0.6, rgba(250,250,250,0.3)),
	color-stop(0.8, rgba(255,255,255,0.3))
  );
}

#toolbar .environment-indicator-name-wrapper { float: right; font-size: 0.85em; }

#toolbar .toolbar-menu .environment-indicator-name,
#admin-menu #environment-indicator .environment-indicator-name {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
#environment-indicator .item-list ul, #toolbar .item-list ul { overflow: hidden; margin: 0; }

#environment-indicator .item-list ul.environment-switcher-container li.environment-switcher,
#toolbar .item-list ul.environment-switcher-container li.environment-switcher {
  list-style: none;
  float: left;
  background-color: #333333;
  margin: 0 3px;
  padding: 3px 8px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-size: 0.8em;
  text-shadow: none;
}

#environment-indicator .item-list ul.environment-switcher-container li.environment-switcher:hover,
#toolbar .item-list ul.environment-switcher-container li.environment-switcher:hover {
  background-color: #dddddd;
  -moz-box-shadow: inset 0 1px 5px #333333;
  -webkit-box-shadow: inset 0 1px 5px #333333;
  -o-box-shadow: inset 0 1px 5px #333333;
  box-shadow: inset 0 1px 5px #333333;
}
#environment-indicator .item-list ul.environment-switcher-container li.environment-switcher a,
#toolbar .item-list ul.environment-switcher-container li.environment-switcher a { color: #dddddd; text-decoration: none; background-color: transparent !important; }
#environment-indicator .item-list ul.environment-switcher-container li.environment-switcher:hover a,
#toolbar .item-list ul.environment-switcher-container li.environment-switcher:hover a { color: #333333; }

#environment-indicator .item-list, #toolbar .item-list {
  display: none;
  padding: 10px;
  -moz-box-shadow: inset 0 0 5px #333333;
  -webkit-box-shadow: inset 0 0 5px #333333;
  -o-box-shadow: inset 0 0 5px #333333;
  box-shadow: inset 0 0 5px #333333;
}

#admin-menu #environment-indicator .item-list {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 5px;
}

#navbar-administration .navbar-menu-item.navbar-menu-item-indicator {
  padding: 0.3em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0.7em 1.03333em;
}

.navbar-bar .navbar-icon-environment:before {
  background-image: url("images/env-bebebe.svg");
}
.no-svg .navbar-bar .navbar-icon-environment:before {
  background-image: url("images/env-bebebe.png");
}
.navbar-bar .navbar-icon-environment:active:before,
.navbar-bar .navbar-icon-environment.navbar-active:before {
  background-image: url("images/env-ffffff.svg");
}
.no-svg .navbar-bar .navbar-icon-environment:active:before,
.no-svg .navbar-bar .navbar-icon-environment.navbar-active:before {
  background-image: url("images/env-ffffff.png");
}